/*print style*/
        @page {
            size: 4in 6in;  
        }
        @media print{
            html, body {
                width: 4in;
                height: 6in;
                font: 12px Arial;
            }
            
            table{
                border-collapse: collapse;
            }
        }
        
        /*Display style*/
        html, body {
            width: 4in;
            height: 6in;
            font: 12px Arial;
        }

        table{
            border-collapse: collapse;
        }


        /*Lowes*/
        .lowes{}
        .lowesSnglPage{width:4in;page-break-after:always;font-weight:bold;margin-bottom:10px;}
        .lowesSnglPage .barcode{text-align:center;margin-bottom:8px}
        .lowesSnglPage .barcode img{max-height:0.8in;}
        .lowesSnglPage .bigText{font-size:5.6em;text-align:center;margin-bottom:2px;}
        .lowesSnglPage .carrierInfo table td{vertical-align:top;}
        .lowesSnglPage .carrierInfo table td span{font-size:1.3em;}
        .lowesSnglPage .carrierInfo table .carrierLogo img{max-width:90%;max-height:0.9in;}
        .lowesSnglPage .carrierInfo table .proBarcode{border:3px solid #000;max-width:60%;text-align:left !important;padding:10px;}
        .lowesSnglPage .carrierInfo table .proBarcode .barcodeImg{margin-top:10px;max-width:100%;}
        .lowesSnglPage .carrierInfo table .text{vertical-align:bottom;padding-top:4px;}
        .lowesSnglPage .carrierInfo table .proBarcode img{max-width:100%;max-height:0.6in;}
        .lowesSnglPage .carrierInfo table .proBarcode p{text-align:left;}
        .lowesSnglPage .customer{font-size:1.2em;margin-bottom:10px;}
        .lowesSnglPage .customer label{display:block;margin-bottom:4px;}
        .lowesSnglPage .customer span{font-size:2.2em;}
        .lowesSnglPage .logo{text-align:center;}
        .lowesSnglPage .logo img{max-width:50%;}
        .lowesSnglPage .poNumber{margin-bottom:10px;font-size:1.2em;text-align:center;}
        .lowesSnglPage .poNumber label{display:block;margin-bottom:6px;text-align:left;}
        .lowesSnglPage .poNumber strong{font-size:3.2em;}
        .lowesSnglPage .skuNumber{margin-bottom:18px;font-size:1.2em;}
        .lowesSnglPage hr{border-width:2px;border-color:#000;margin-bottom:2px;}
        .lowesSnglPage hr.strong{border-width:3px;margin-bottom:12px;}
        .lowesSnglPage p{font-size:1.5em;font-weight:600;font-weight:normal;text-align:center;margin-top:0 !important;margin-bottom:2px !important;}

        .lowesSnglBlanc{width:2.6in;page-break-after:always;font-weight:bold;margin:1.8in 0 0 -1.3in;position:relative;left:50%;}
        .lowesSnglBlanc .infoText{font-size:1.2em;line-height:1.5;margin:0 10px 18px 10px;}
        .lowesSnglBlanc .carrierInfo{padding-left:10px;padding-right:10px;}
        .lowesSnglBlanc .carrierInfo .carrierLogo{margin-bottom:12px;}
        .lowesSnglBlanc .carrierInfo .carrierLogo img{max-width:46%;max-height:0.7in;}
        .lowesSnglBlanc .carrierInfo .carriertext{font-weight:bold;font-size:1.1em;}
        .lowesSnglBlanc .proBarcode{border:3px solid #000;text-align:left;padding:8px;margin-bottom:10px;}
        .lowesSnglBlanc .proBarcode img{max-width:100%;max-height:0.6in;}
        .lowesSnglBlanc .proBarcode p{text-align:left;font-size:1.4em;margin-top:0;margin-bottom:8px;}