.container {
     margin: 2% auto 2% auto;
 }
.btn-add {
    float: right;
}
.id {
    width: 20%;
}
.name {
    width:60%;
}
.table>tbody>tr>td {
    vertical-align: middle;
}

.mainitem {    
    color: white;
    cursor: pointer;
}
.configure {
    width:20%;
}
div.import-radio label {
    cursor: pointer;
}
div.import-radio input[type=radio] {
    padding:4px 0;
}