/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 10px Helvetica, Arial, sans-serif;
	color: #484848;
	margin: 0;
	padding: 0;
	min-width: 1440px;
	background: #fff;
}
a {
	color: #484848;
	text-decoration: none;
	outline: none;
}
img {
	border: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
	border: none;
}
form {
	margin: 0;
	padding: 0;
}
form select, input, textarea {
	font: 100% Helvetica, Arial, sans-serif;
	color: #484848;
}
#wrapper {
	width: 98%;
	background: #fff;
	position: relative;
    padding: 1% 1% 44px;
}
.logo {
	float: left;
	margin: 5px;
	text-indent: -9999px;
	position: relative;
	z-index: 150;
}
.logo a {
	display: block;
	width: 300px;
	height: 67px;
	background: url(../../../Include/img/logo.png) no-repeat;
	background-size: cover;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
        right:0;
	z-index: 50;
	background: #f7f7f7;
	padding: 0 20px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
        height: 84px;
}
.head-holder {width: 100%;position: relative;}
.top-nav {
	float: left;
	width: 330px;
	list-style: none;
        margin-bottom:0;
}
.top-nav li {
	float: left;
	margin-right: 5px;
	position: relative;
	z-index: 100;
}
.top-nav li a {
	float: left;
	width: 84px;
	height: 76px;
	text-indent: -9999px;
}
.top-nav .btn-manual a {background: url(../pictures/new/ico-manual.png) no-repeat center center;}
.top-nav .btn-features a {background: url(../pictures/new/ico-features.png) no-repeat 50% 50%;}
.top-nav li:hover a {background-color: #e3e3e3;}
.top-nav li:hover li a {background-color: transparent;}
.main-title{position:absolute;top:0;left:0;right:0;padding:0 500px;text-align: center;font: 36px/70px Helvetica, Arial, sans-serif;color: #367fbb;margin:0;}
.user-box {
	float: right;
	width: 350px;
	padding-top: 20px;
	position: relative;
}
.user-btn-box {float: right;}
.user-info-box {position: relative;}
.user-info-box:hover .user-info {display: block;}
.drop {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 15px;
	background: #fff;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 100;
}
.drop {display: none;}
.drop.user-info {
	top: 33px;
	left: 0;
}
.user-info-list {padding: 8px 0 11px;}
.user-info-list li {
	font-size: 12px;
	color: #808080;
	line-height: 24px;
}
.user-info-list li strong {
	font-weight: normal;
	color: #484848;
}
.user-text {
	float: left;
	font-size: 12px;
	color: #808080;
	padding: 7px 11px 0 0;
}
.user-text a {text-decoration: underline;color: #808080;}
.user-text a:hover {text-decoration: none;}
.btn-top {
	float: left;
	width: 28px;
	height: 28px;
	margin-right: 6px;
	background-repeat: no-repeat;
}
.user-acc {background: url(../pictures/new/ico-user-account.png);}
.ch-password {background: url(../pictures/new/ico-change-password.png);}
.logout {float: right; background: url(../pictures/new/ico-logout.png);}
.change-pass-holder {
	float: left;
	position: relative;
}
.drop.change-pass {
	top: 33px;
	left: auto;
	right: 6px;
}
.change-pass-form {
	font-size: 12px;
        padding:14px 0 10px 0;
}
.change-pass-form h3 {
	font-weight: bold;
        margin:0 0 22px 0;
        font-size:18px;
}
.change-pass-form .form-group{margin-bottom:18px;}
.change-pass-form label {display: block; color: #808080;margin-bottom:2px;padding-left:8px;font-weight:700;max-width:100%;line-height:17px;}
.change-pass-form .text{
	width: 210px;
	padding: 4px 6px;
	border: 1px solid #ccc;
	background: #fff;
	margin-top: 2px;
        border-radius: 4px;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;        
}
.change-pass-form .help-block {
        display: block;
        margin-bottom: 10px;
        margin-top: 5px;
}
.change-pass-form .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
}
.change-pass-form .form-btn {
	margin: 15px 0 0 0;
        text-align:center;
}
.change-pass-form .has-error {    
    color: #a94442;
}
.change-pass-form .has-error input.text {
	border-color: #a94442;
}

.change-pass-form sup{
	font-size: 10px;
        top:2px;
        line-height: 0;
        position: relative;        
}
.change-pass-form sup span{padding-left:8px;}
#footer{
	position: relative;
	bottom: 0;
	text-align: center;
	left: 0;
	right:0;
	z-index: 50;
	background: #f7f7f7;
	padding: 8px 0 20px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	height: 30px;
	margin-top: 36px;
	font: 12px Helvetica, Arial, sans-serif;
}
