#backHref {
    position: absolute;
    right: 1%;
    transition: 0.3s;
    top: 10%;
}
#backHref:hover {
    transform: scale(1.1);
}
#headerContainer {
    /*position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;*/
    height: 50px;
    padding: 5px 20px;
    /*padding-bottom: 5px;*/
    /*padding-left: 10%;*/
    /*background: rgb(130, 167, 22);*/
    color: #367FBB;
    background: rgba(54, 127, 187, 0.1);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.product {
    float: right;
    margin-top: 22px;
    position: relative;
    padding-right: 40px;
}
#backHref img {
    margin-left: 10px;
}
#backHref img:hover {
    transform: scale(1.05); 
}
.product i {
    font-weight: bold;
}

img {
    max-width: 100%;
    vertical-align: top;
}

.panel-title{
    text-align: center;
}
tr.tr_done {
    background: #dfe;
}
tr.tr_disc {
    background: #f2dede !important;
}
tr.tr_disabled {
    background: #eee;
    color: #999;
}
td b.full {
    color: #2d2;
}
td b.notfull {
    color: #d22;
}
td .order-supply{
    background: url('../pictures/supply.png');
    width: 32px;
    height: 32px;
    display: block;
}
td.no-pallet-truck{
    height: 42px;
}
td .order-supply-blank{    
    width: 32px;
    height: 32px;
    display: block;
}
.wrap .table>tbody>tr>td {
    vertical-align: middle;
}
.btn-preload,
.btn-preload:visited {
    background-color: #213d79;
    color: #fff;
}
.btn-preload:hover {
    background-color: #1a3265;
    color: #fff;
}
.btn-generate {
    background-color: #02c4fc;
    min-width: 181px;
    color: #fff;
}
.blue-loader {
    background: url('../pictures/blue_loader.gif') no-repeat center center;
    background-size: 90%;
    background-color: #02c4fc;
    text-indent: -999999px;
    min-width: 181px;
}
.printButtonsPopup .btnLine{min-width:0;text-align:left;}
.printButtonsPopup .btn-generate{min-width:159px;opacity:0.7;margin-top:8px;}