/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 10px Helvetica, Arial, sans-serif;
	color: #484848;
	margin: 0;
	padding: 0;
	min-width: 1440px;
	background: #fff;
}
a {
	color: #484848;
	text-decoration: none;
}
img {
	border: none;
}
form {
	margin: 0;
	padding: 0;
}
form select, input, textarea {
	font: 100% Helvetica, Arial, sans-serif;
	color: #484848;
}

#order-content {
	overflow: hidden;
	padding: 5px 5px 5px;
	background: #ebf2f8;
}
h1,
h2 {
	font-size: 18px;
	font-weight: normal;
}
#order-content h1 {
	border-bottom: 1px solid #ccc;
	padding: 0 0 1px 19px;
}
.top-holder{
	overflow: hidden;
	width: 100%
}
.top-holder h2 {
	float: left;
	text-transform: uppercase;
}
.genbutton {
	font-size: 10px;
	font-weight: 600;
	color: #fff;
	background: #367fbb;
	border: 0;
	padding: 2px 7px 3px;
	cursor: pointer;
	height: 21px;
}
.top-holder .genbutton {
	float: left;
	margin: 1px 0 0 10px;
}
.order-holder {
	overflow: hidden;
	padding: 5px 5px 5px;
}
.order-block {
	float: left;
	width: 19%;
	margin: 6px 16px 0 0;
}
.order-block.left {
	width: 10%;
	padding-top: 6px;
	margin-top: 0;
}
.right {
	float: left;
	width: 88%;
	padding-top: 6px;
}
.data-menu {
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.data-menu li {float: left; margin-right: 3px;}
.data-menu li a {
 float: left;
 padding: 10px 20px;
 color: #fff;
 border-top: 5px solid;
}
.data-menu li a.source {background: #6a7b8b; border-color: #6a7b8b; font-size: 14px;}
.data-menu li a.work {background: #6a7b8b; border-color: #6a7b8b; font-size: 14px;}
.data-menu li a.archive {background: #6a7b8b; border-color: #6a7b8b; font-size: 14px;}
.data-menu li.ui-state-active a { border-color: #ffdb42;}
.order-block.order-content {
	width: 59%;
	margin-right: 0;
}
.validation-message {
	display: block;
}
.validation-message em {
	display: block;
	font-style: normal;
	color: #d90022;
	margin-bottom: -3px;
}
.validation-message span {
	display: block;
	margin: 3px 0;
}
.status {
	display: block;
	margin-top: 10px;
}
.status em {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #367fbb;
	font-weight: bold;
}
.status-icons {
	overflow: hidden;
	margin-top: 10px;
}
.status-icons em {
	display: block;
	font-style: normal;
}
.status-icons span {float: left;}
.warning,
.order-stop {
	margin: 2px 2px 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
}

.status-holder {
 overflow: hidden;
 margin-top: 11px;
 padding: 9px 0 50px;
 background: url('../pictures/status-box-scale.png') no-repeat 12px 0;
 background-size: 10px 100%;
}
.status-box {
	font-size: 12px;
	line-height: 18px;
	padding: 7px 0 13px 48px;
	background-repeat: no-repeat !important;
	position: relative;
}
.status-box.created {background: url(../pictures/ico-created.png);}
.status-box.calculated {background: url(../pictures/ico-calculated.png);}
.status-box.modified {background: url(../pictures/ico-modified.png);}
.status-box.generated {background: url(../pictures/ico-printed.png);}
.status-box.reprinted {background: url(../pictures/ico-reprinted.png);}
.status-box.scanned {background: url(../pictures/ico-scanned.png);}
.status-box.picked {background: url(../pictures/ico-picked.png);}
.status-box.shipped {background: url(../pictures/ico-shipped.png);}
.status-box.removed {background: url(../pictures/ico-removed.png);}
.status-box.divided {background: url(../pictures/ico-divided.png);}
.status-box.combined {background: url(../pictures/ico-combined.png);}
.status-box.uncombined {background: url(../pictures/ico-uncombined.png);}
.status-box.carrier_changed {background: url(../pictures/shuffle.png);}
.status-box.updated {background: url(../pictures/data_updated_history.png);}
.status-box.data_update_needed {background: url(../pictures/data_update_needed.png);}
.status-box.order_restored {background: url(../pictures/restore.png);}

.status-box strong {font-weight: normal;}
.status-box span {display: block;}
.order-block table {
	border: 1px solid #ddd;
	width: 100%;
}
.order-block table th,
.order-block table td {
	padding:  7px 15px 8px;
}
.order-block table th {
	text-align: left;
	background: #d9edf7;
	border-bottom: 2px solid #ddd;
}
.order-block .top-titles td {
	background: #e3e3e3;
}

.order-block .top-titles-red td {
	background: red;
}

.vertical_title{
	background: #e3e3e3 !important;
}

.vertical_title_red{
	background: red !important;
}

.word_break{
	word-break: break-all;
}

.db_table{
	float: right;
}

.ref_button{
	font-size: 9px;
	cursor: pointer;
}

.order-block table td {
	background: #fff;
	border: 1px solid #ddd;
	border-width: 0 1px 1px 0;
}
.order-table-box {
	height: 300px;
	overflow: auto;
	margin-bottom: 5px;
	background: #b3d6e7;
	padding: 5px 5px 50px;
}
.order-table-box table {margin-bottom: 10px;}

.order-supply{
     background: url('../pictures/supply.png');
    }
.order-supply2{
    background: url('../pictures/negative.png');
}
.order-supply-ok{
    background: url('../pictures/check.png');
}
.order-supply-no{
    background: url('../pictures/not_calculated.png');
}
.status1 {
    text-align: left;
    padding: 0;
    white-space: nowrap;
}
.status1 i {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    background-size: 100%;
    border-radius: 5px;
}
/* hide/show manually created order */
.eye {background-image: url(../pictures/eye64.png); background-repeat: no-repeat; padding-left: 64px; height: 56px}
.eye-close{background-image: url(../pictures/eye-hidden64.png); background-repeat: no-repeat; padding-left: 64px; height: 56px}
.eye button, .eye-close button{width: 100%}
.eye .eye-hide{background-image: url(../pictures/eye-hidden16.png); background-repeat: no-repeat; padding-left: 16px}
.eye-close .eye-open{background-image: url(../pictures/eye16.png); background-repeat: no-repeat; padding-left: 16px}

.order-block table tr.related td {
    background: #f99;
}