.word_break{
    word-break: break-all;
}

.wrap {
    padding: 0 20px;
}


.main-header{
    background: rgba(54, 127, 187, 0.1);
    padding: 15px 20px;
    text-align: right;
}
.logo{
    width: 300px;
}
.logo img{
    max-width: 100%;
    height: auto;
}

.top-btn-container{
    padding: 40px 20px 0;
}

.copy_icon{
    float:left;
    margin: 2px;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.copy_icon:active {
    width: 14px;
    height: 14px;
}

#help{
	position: fixed;
	left: 380px;
	top: 9px;
	cursor: pointer;
}

	table.dataTable tbody th,
	table.dataTable tbody td {
	  padding: 4px 4px !important;
	}
	fieldset {
		width: 300px;
		border: 0;
	}
	legend {
		font-size: 20px;
	}
	label.field {
		text-align: left;
		width: 100px;
		height: 20px;
		float: left;
		font-weight: bold;
		color: white;
	}
	fieldset p {
		clear: both;
		padding: 5px;
	}
	
	.loginsubmit {
		width: 100px;
		height: 20px;
		background: #294778;
		border: 0px;
		color: white;
		cursor: pointer;
	}
	
	.glb{
		display: block;
	}
	
	.gtm{
		display: none;
		font-weight: 600;
	}
	
	.done:hover .glb{
		display: none;
	}
	
	.done:hover .gtm{
		display: block;
	}
	
	 .dataTable td.status {
	 text-align: left;
		padding: 0;
	 white-space: nowrap;
	}
	
	.dataTable td.delay {
	 text-align: left;
		padding: 0;
	 white-space: nowrap;
	}
	
	.dataTable td.status i {
	margin-left: 2px;
	margin-right: 2px;
	 display: inline-block;
	 width: 32px;
	 height: 32px;
	 vertical-align: middle;
	  background-size: 100%;
	  border-radius: 5px;
	}
	
	.dataTable td.delay i {
	margin-left: 2px;
	margin-right: 2px;
	 display: inline-block;
	 width: 32px;
	 height: 32px;
	 vertical-align: middle;
	  background-size: 100%;
	  border-radius: 5px;
	}

	.dataTable td .order-printed {
	 background: url('../pictures/PRINTED.png');
	}
	
	.dataTable td .order-supply{
	background: url('../pictures/supply.png');
	}
        
        .dataTable td .order-supply2{
            background: url('../pictures/negative.png');
        }
        
        .order-supply-ok{
            background: url('../pictures/check.png');
        }
        
        .order-supply-no{
            background: url('../pictures/not_calculated.png');
        }
        
        .dataTable td .data_updated{
            background: url('../pictures/data_updated.png');
        }
        
        .dataTable td .recalculation_needed{
            background: url('../pictures/recalculation_needed.png');
            cursor: pointer;
            border: 1px solid white;
        }
        .dataTable td .recalculation_needed:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        .dataTable td .order-stop{
	background: url('../pictures/stop.png');
	}
	
	.dataTable td .order-printed_red {
	 background: url('../pictures/PRINTED_red.png');
	}
	.dataTable td .order-picked {
	 background: url('../pictures/PICKED.png');
	}
	
	.dataTable td .order-shipped {
	 background: url('../pictures/SHIPPED.png');
	}
	
	.dataTable td .order-scanned {
	 background: url('../pictures/SCANNED.png');
	}
	/*delay status*/
	.dataTable td .processing_low {
	 background: url('../pictures/processing_low.png');
	}
	.dataTable td .processing_med {
	 background: url('../pictures/processing_med.png');
	}
	.dataTable td .processing_high {
	 background: url('../pictures/processing_high.png');
	}
	.dataTable td .processing_expired {
	 background: url('../pictures/processing_expired.png');
	}
	.dataTable td .shipping_low {
	 background: url('../pictures/shipping_low.png');
	}
	.dataTable td .shipping_med {
	 background: url('../pictures/shipping_med.png');
	}
	.dataTable td .shipping_high {
	 background: url('../pictures/shipping_high.png');
	}
	.dataTable td .shipping_expired {
	 background: url('../pictures/shipping_expired.png');
	}
	.dataTable td .exclamation {
	 background: url('../pictures/exclamation.png');
	}
	.dataTable td .warning {
	 background: url('../pictures/caution.png');
	}
	
	#MissingMessageBox, #statusMessageBox, #palletsMessageBox {
   position: fixed;
  width: 400px;
  height: 140px;
  padding: 10px;
  top: 200px;
  left: 50%;
  margin-left: -200px;
  background: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 30px #808080;
  z-index: 2000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

 #dateMessageBox
 {
	position: fixed;
  width: 310px;
  height: 400px;
  padding: 10px;
  top: 200px;
  left: 50%;
  margin-left: -155px;
  background: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 30px #808080;
  z-index: 2000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
 }
 
 #resiLiftMessageBox, #removeMessageBox, #reprintMessageBox{
	position: fixed;
  width: 310px;
  height: auto;
  padding: 10px;
  top: 200px;
  left: 50%;
  margin-left: -155px;
  background: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 30px #808080;
  z-index: 2000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
 }
 
#changepassMessageBox{
	position: fixed;
  width: 310px;
  height: 300px;
  padding: 10px;
  top: 200px;
  left: 50%;
  margin-left: -155px;
  background: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 30px #808080;
  z-index: 2000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
 }
 
#MissingMessageBox label, #dateMessageBox label, #resiLiftMessageBox label, #removeMessageBox label, #reprintMessageBox label, #statusMessageBox label, #changepassMessageBox label, #palletsMessageBox label {
  display: block;
  padding: 10px 2px;
  color: #367FBB;
  font-weight: bold;
  background: #FAFAFA;
  border-bottom: #EEE 2px solid;
  font-size: 18px;
  margin-bottom: 16px;
}

#resiLiftMessageBox #messageRLCLabel {
  display: block;
  padding: 10px 2px;
  color: black;
  font-weight: normal;
  background: #FAFAFA;
  border-bottom: #EEE 2px solid;
  font-size: 14px;
  margin-bottom: 16px;
}

#MissingMessageBox input[type="text"], #removeMessageBox input[type="text"] , #statusMessageBox input[type="text"], #changepassMessageBox input[type="text"], #palletsMessageBox input[type="text"]{
  height: 23px;
  width: 302px;
  font-size: 16px;
  padding: 2px 5px;
}
#MissingMessageBox button, #removeMessageBox button, #statusMessageBox button, #changepassMessageBox button, #palletsMessageBox button{
  height: 31px;
  width: 70px;
  margin-left: 10px;
  background-color: #367FBB;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

 #dateMessageBox button, #resiLiftMessageBox button
 {
	height: 31px;
	width: 70px;
	margin-left: 10px;
	margin-top: 10px;
	background-color: #367FBB;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
 }
 
 #resiLiftMessageBox .cancelButton, #removeMessageBox .cancelButton, #reprintMessageBox .cancelButton, #statusMessageBox .cancelButton, #changepassMessageBox .cancelButton, #palletsMessageBox cancelButton {
	height: 31px;
	width: 70px;
	margin-left: 140px;
	margin-top: 10px;
	background-color: #367FBB;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
 }

#MissingMessageBox #messageSpan, #dateMessageBox #messageSpan, #resiLiftMessageBox #messageSpan, #removeMessageBox #messageSpan, #reprintMessageBox #messageSpan, #statusMessageBox #messageSpan, #changepassMessageBox #messageSpan, #palletsMessageBox #messageSpan{
  font-weight: bold;
  font-family: Arial;
  color: black;
  position: absolute;
  right: 12px;
  font-size: 17px;
  cursor: pointer;
}

.animated { 
    -webkit-animation-duration: 0.5s; 
    animation-duration: 0.5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes bounceIn { 
    0% { 
        opacity: 0; 
        -webkit-transform: scale(.3); 
    } 

    50% { 
        opacity: 1; 
        -webkit-transform: scale(1.05); 
    } 

    70% { 
        -webkit-transform: scale(.9); 
    } 

    100% { 
         -webkit-transform: scale(1); 
    } 
} 

.bounceIn { 
    -webkit-animation-name: bounceIn; 
    animation-name: bounceIn; 
}

@keyframes blinker {  
  0% { visibility: visible; }
  50% { visibility: hidden; }
  100% { visibility: visible; }
}
.blinkingText {
  animation: blinker steps(1) 1s infinite;
}

.sublabel{
	margin-left: 30px;
	font-size: 14px !important;
}

@keyframes glowing {
  0% { background-color: dark-red;}
  50% { background-color: #FF7575;}
  100% { background-color: dark-red;}
}

.duplicate_status {
	cursor: pointer;
  animation: glowing 1500ms infinite;
}

.pointer{
	cursor: pointer;
}

.menu ul li {
	text-align: right;
}

/* dialog styles */

.reprint_dialog .ui-widget-header{
    border: none;
    background: #223d78;
    color: #fff;
}

.ui-button{
    outline: none;
}

.ui-dialog.reprint_dialog .ui-dialog-content{
    padding: .5em 0.7em !important;
}
.reprint_dialog h5{
    text-transform: uppercase;
   
}
.reprint_dialog h5 span{
    color: #2f71a7;
    display: inline-block;
}
.order_item{
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #ddd;
    font-size: 12pt;
}
.order_item:last-child{
    border: none;
}
.order_item h6 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: #314250;
    
}
.order_item button {
    margin-right: 15px;
    padding: 10px 20px 10px 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}
div[class^='ui-state-']{
    padding: 0 .7em;
}
div[class^='ui-state-'] > p > strong{
    color: #0a0a0a;
}
div[class^='ui-state-'] > p > span{
    float: left;
    margin-right: .3em;
}
.view_btn{
    background: #91dc5a;
    color: #333;
}
.view_btn:hover{
    background: #80c54e;
}
.print_btn{
    background: #367FBB;
    color: #fff;
}
.print_btn:hover{
    background: #2f71a7;
}
.order_item button span{
    margin-right: 10px;
}
.no_result{
    color: #ff0066;
    font-size: 15px;
    font-style: italic;
}

#reprintMessageBox select{
    width: 100%;
    font-size: 16px;
    padding: 2px 5px;
    line-height: 2.4em;
    height: 33px;
    box-sizing: border-box;
    display: block;
}
#reprintMessageBox input[type="text"]{
    height: 35px;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid rgb(169, 169, 169);
}
#reprintMessageBox button{
    margin: 0 auto;
    display: block;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #367FBB;
    color: #FFF;
    font-weight: bold;
    line-height: 31px;
    width: 70px;
}
.hidden{
    display: none;
}
button{
    cursor: pointer;
}
.icon {
    margin-right: 5px;
}
.btnLine{min-width:148px;}
.btn-labels{
    /*padding: 5px 10px;*/
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.btn-labels:first-child{margin-right:6px;}
a.btn-labels:hover,
a.btn-labels:focus{
    text-decoration: none;
    background: transparent;
}
.barcodes-btn{
    color: #9a8ac3;
}
.barcodes-btn.brc-print{
    color: #7f6caf;
}
.barcodes-btn.brc-print:hover,
.barcodes-btn.brc-print:focus{
    color: #6a559e;
}f
.barcodes-btn:hover,
.barcodes-btn:focus{
    color: #8e7abf;
}

.carton-btn{
    color: #bf6a6a;
}
.carton-btn.list-print{
    color: #c27e7e
}
.carton-btn.list-print:hover,
.carton-btn.list-print:focus{
    color: #a66f6f;
}
.carton-btn:hover,
.carton-btn:focus{
    color: #985353;
}

.flyer-btn{
    color: #a9c79d;
}
.flyer-btn.fl-print{
    color: #72ad5b;
}
.flyer-btn.fl-print:hover,
.flyer-btn.fl-print:focus{
    color: #5a8e45;
}
.flyer-btn:hover,
.flyer-btn:focus{
    color: #8cb57c;
}

.packing-btn{
    color: #b8ad95;
}
.packing-btn.list-print{
    color: #c1b59d;
}
.packing-btn.list-print:hover,
.packing-btn.list-print:focus{
    color: #c7ba9f;
}
.packing-btn:hover,
.packing-btn:focus{
    color: #b6aa8f;
}

.picking-btn{
    color: #63aedb;
}
.picking-btn.list-print{
    color: #489cce
}
.picking-btn.list-print:hover,
.picking-btn.list-print:focus{
    color: #3285b7;
}
.picking-btn:hover,
.picking-btn:focus{
    color: #449fd6;
}
@media (max-width: 1680px){
    .printButtons > .col-lg-7, .printButtons > .col-lg-5{width:100%;}
    .printButtons > .col-lg-7{margin-bottom:6px;}
}
@media (max-width: 992px){
    .printButtons > .col-lg-7{margin-bottom:0;}
}
.bol-open{
    color: #0ba7a7;
}
a.bol-open:hover{
    color: #008080;
}
.bol-print{
    color: #1d7b7b;
}
a.bol-print:hover{
    color: #136565;
}
.center-aligned,
.center-aligned th{
    text-align: center;
}
input[type=checkbox].done-check{
    display: block;
    margin: 0 auto;
}
.btn-default.generate-all-btn{
    background-image: linear-gradient(to bottom,#0ba7a7 0,#008080 100%);
    color: #fff;
    border:none;
    text-shadow: none;
}
.btn-default.generate-all-btn:hover{    
    background-color: #008080;
}
.btn-open{
    background: #006381;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 80%;
    margin: 0 auto 7px;
}
.btn-open:hover{
    color: #fff;
    background: #055269;
}
.btn-print{
    background: #c18aa4;
    border-radius: 3px;
    color: #fff;
    display: block;
    width: 80%;
    margin: 0 auto;    
}
.btn-print:hover{
    color: #fff;
    background: #b57b96;
}
.disabled {
    opacity: 0.5;
    position: relative;
    z-index: -1;
}
.disabled:after{
    content:'';
    top: 0;
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
}
.product-table tr:hover{
    cursor: pointer;
    background: rgba(54, 127, 187, 0.1);
}
.product-table tr.active-row{
    background:  rgba(54, 127, 187, 0.2);
}
tr.tr_disabled:hover{
    background: #eee;
}
.product-table.table-bordered>tbody>tr>td{
    vertical-align: middle;
}
.product-table .printPalletCol{width:40px;text-align:center;position:relative;}
.product-table .printPalletCol .icon-list-btn{margin:0 auto;}
.product-table .printPalletCol .printButtonsPopup{display:none;position:absolute;top:32px;right:16px;z-index:1000;background-color:#fff;padding:14px 10px 12px 10px;border:1px solid #ddd;}
.product-table .printPalletCol .printButtonsPopup .btn-labels:first-child{margin-right:19px;}
.product-table .printPalletCol .icon-list-btn.active:before{color:#000;}
.product-table .printPalletCol > .icon-list-btn:before{font-size:18px !important;color:#cecece;}
.qty{
    position: relative;
}
.qty-tooltip{
    position: absolute;
    top: 100%;
    right: 0;
    background: #2aabd2;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    display: none;
    z-index: 100;
}
.qty:hover .qty-tooltip{
    display: block;
}
.qty-tooltip table{
    min-width: 300px;
    text-align: center;
    color: #fff;
}
.qty-tooltip table tr:hover,
.sub-items-table tr:hover{
    background: transparent;
    cursor: default;
} 
.sub-items-table tr.sub-items:hover{
    cursor: default;
}
tr.sub-items{
    display: none;
    background:  rgba(54, 127, 187, 0.1);
}
.qty-tooltip table th{
    text-align: center;
}
.sub-items-table{
    text-align: center;
    background: #eee;
}
.table.sub-items-table{
    margin-bottom: 0;
}
.sub-items-table th{
    text-align: center;
    background: #eee;
}
.table-bordered.sub-items-table>tbody>tr>th,
.table-bordered.sub-items-table>tbody>tr>td{
    padding: 4px;
}
div.login-wrapper {
    position: relative;
    top: 110px;
    width: 100%; 
 }
div.login-screen {
    position: relative;
    width: 330px;        
    margin: 0 auto;
    padding: 10px;
    background: #367FBB;
    text-align:center;
}
div.copyright {
    bottom: 2px;
    width: 100%;
    text-align:center;
    margin: 10px 0 0 0;
}
span.login-message {
    color: tomato;
    font-weight: bold;    
    font-size: 16px;
}
div.error-wrapper {
    position: relative;
    top: 100px;
    width: 100%;     
}
div.error-screen {
    position: relative;
    width: 500px;        
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #900;
    border-left: 5px solid #900;
    text-align:left;
    font-weight: bold;
    color: #900;
}

.printButtons{position:relative;z-index:2;}
.table-striped tr:nth-child(even){background-color:#eeeeee !important;}