html { height:100%; }
body { position:absolute !important; top:0; bottom:0; right:0; left:0; }

body{
  position: relative;
}

.darkBack{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.5);
}

.loading{
	display: none;
	position: fixed;
	width: 128px;
	height: 128px;
	top: 50%;
	left: 50%;
	margin-left: -64px;
	margin-top: -64px;
	z-index: 101;
}

.popup{
	display: none;
	position: fixed;
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -150px;
	padding: 10px;
	background: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 8px;
	z-index: 102;
}

.content{
	width: 480px;
	height: 240px;
	background: #ddd;
	overflow-y: auto;
}

.okButton{
	margin: 10px;
}