#truck_table input[type=radio]{width:18px;height:18px;cursor:pointer;}
#truck_table td{vertical-align:middle;}
#truck_table td b.long{color:#6598f5;}
#truck_table td b.short{color:#f1c25e;}
#truck_table th.truck_name{vertical-align:middle;}
#truck_table th.truck_name input[type="button"]{padding:0;border:0;background:transparent;font-size:24px;height:24px;line-height:24px;width:24px;margin-left:10px;}