/* FTL loading form styles
includes in the header of index.php
define by module name = 'loading'
 */

.control-label {
    font-size: x-large;
}

.row-mlr-0 {
    margin-left: 0;
    margin-right: 0;
}

.alert-inline {
    display: inline-block;
    margin-right: 5px;
}

.upc-set {
    padding-top: 10px;
    clear: both;
}

.upc-set .panel-title {
    font-size: 25px;
}

.upc-set .alert-info {
    position: relative;
    margin-bottom: 5px;
    padding: 0 27px 0 5px;
    background: transparent;
    border-color: #ccc;
}

.upc-set .alert-dismissible .close {
    position: absolute;
    margin-top: -1px;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .4;
    color: black;

}

.upc-title {
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid grey;
}

.upc-number {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.accordion-title {
    display: block;
    margin: 5px 0;
    padding: 0;
    font-weight: bold;
    font-size: x-large;
    line-height: 1em;
}

.accordion-pallete {
    clear: both;
    margin: 30px 0 0 0;
    padding: 0 15px;
}

.accordion-pallet .panel-heading {
    padding: 0;
}

.accordion-pallet .panel-heading a {
    position: relative;
    display: block;
    padding: 10px 25px 10px 15px;
    font-size: 16px;
    color: white;
}

.accordion-pallet .panel-heading a:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    content: '+';
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

.accordion-pallet .panel-heading a[aria-expanded="true"]:after {
    content: '–';
}

.accordion-pallet .panel-heading a[aria-expanded="false"]:after {
    content: '+';
}

.form-group {
    position: relative;
}

.warning-msg {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 100%;
    right: 0;
    font-size: 12px;
    color: #a94442;
}
.warning-msg.active {
    display: block;
}

