{% extends "paper_2x4.html" %}
{% block content %}
{% set newdata = [data.LTL.Groups, data.GR.Groups] %}
{% for gl in newdata %}
    {% for key, item in gl %}
        {% for i in 1..item.Box_Pallet_Quantity %}
            {% for i in 1..item.BarcodesQty %}
                {% if item.UPCA %}
<!-- UPC-A barcoce -->
<div class="barcode_label">
<table border="0" width="325" cellpadding="0" align="center">
<tr>
<td align="center">
<img src="data:image/png;base64,{{ item.UPCA }}" />
</td>
</tr>
</table>
</div>
                {% else %}
<div class="barcode_label">
<table border="0" width="325" cellpadding="0" align="center">
<tr>
<td align="center">UPC code<br/>is incorrect</td>
</tr>
</table>
</div>
                {% endif %}
            {% endfor %}
            <!-- SKU, UPC -->
<div class="barcode_label">
<table border="0" width="325"  cellpadding="0"  align="center">
<tr>
<td>DreamLine SKU :</td>
</tr>
<tr>
<td><strong>{{ item.SKU }}</strong></td>
</tr>
<tr>
<td>HD SKU :</td>
</tr>
<tr>
<td><strong>{{ item.HD_SKU }}</strong></td>
</tr>
<tr>
<td>UPC :</td>
</tr>
<tr>
<td><strong>{{ item.UPC }}</strong></td>
</tr>
</table>
</div>
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endblock %}
