<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <style>
        /*print style*/
        @page {
            size: 11in 8.5in landscape;  
            margin: 0;
        }
        @media print{
            html, body {
                width: 8.5in;
                height: 1in;
                font: 16px Arial;
                margin: 0;
                padding: 0;
            }
            h1 {
                font: 24px Arial;
            }
            img {
                margin: 0;
                padding: 0;
            }
            div.pagesign {
                position: absolute;
                top: 0.4in;
                right: 0.4in;            
                font: 16px Arial;
                font-weight: bold;
            }            
            table{
                border-collapse: collapse;
            }
            table.itemtable td{
                vertical-align: top;
            }
            table.itemtable td.palletbarcodes{
                vertical-align: bottom;
            }
            table.itemlist td{
                padding-top: 4px;
                padding-bottom: 4px;
                font: 16px Arial;
            }
            table.itemlist td.center{
                text-align:center;
            }            
            /*Picking List*/
            .picking_list{
                width: 8.5in;
                height: 11in;                
                page-break-after: always;
                padding: 0.3in;
                padding-top: 4cm;
                box-sizing:border-box;
                position:relative;
            }
            /*Packing List*/
            .packing_list{
                width: 8.5in;
                height: 1in;                
                page-break-after: always;
                padding: 0.3in;
                padding-top: 4cm;
                box-sizing:border-box;
                position:relative;
            }
            div.checkbox-div {
                width:12px;
                height:12px;
                display:inline-block;
                box-sizing:border-box;
                border: 1px black solid;
                border-radius: 2px;
                font-size:1px;
            }
        }
        
        /*Display style*/
        html, body {
            width: 8.5in;
            height: 1in;
            font: 16px Arial;
            margin: 0;
            padding: 0;
        }
        h1 {
                font: 24px Arial;
            }
        img {
            margin: 0;
            padding: 0;
        }
        div.pagesign {
            position: absolute;
            top: 0.4in;
            right: 0.4in;            
            font: 16px Arial;
            font-weight: bold;
        }
        table{
            border-collapse: collapse;
        }
        table.itemtable td{
            vertical-align: top;
        }
        table.itemtable td.palletbarcodes{
            vertical-align: bottom;
        }
        table.itemlist td{
            padding-top: 4px;
            padding-bottom: 4px;
            font: 16px Arial;
        }
        table.itemlist td.center{
            text-align:center;
        }
        /*Picking List*/
        .picking_list{
            width: 8.5in;
            height: 11in;
            page-break-after: always;
            padding: 0.3in;
            padding-top: 4cm;
            box-sizing:border-box;
            position:relative;
        }
        /*Packing List*/
        .packing_list{
            width: 8.5in;
            height: 11in;
            page-break-after: always;
            padding: 0.3in;
            padding-top: 4cm;
            box-sizing:border-box;
            position:relative;
        }
        div.checkbox-div {
            width:12px;
            height:12px;
            display:inline-block;
            box-sizing:border-box;
            border: 1px black solid;
            border-radius: 2px;
            font-size:1px;
        }        
    </style>
</head>
<body>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>

