<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <style>
        /*print style*/
        @page {
            size: 8.5in 11in portrait;  
            margin: 0;            
        }
        @media print{
            html, body {
                width: 8.5in;
                height: 11in;
                font: 16px Arial;
                margin: 0;
                padding: 0;                
            }
			table{
				border-collapse: collapse;
			}
			table.bol_table {
				width: 7in;
			}
			table.bol_table td {
				padding: 4px;
				border: 1px solid black;
			}
			table th {
				padding:10px;
				font-size: 20px;
				font-weight: bold;
				border: 1px solid black;
			}
			
			table td.pal {
				width: 26%;
			}
			table td.sku {
				width: 38%;
			}
                        table td.smd {
				width: 8%;
			}
			table td.qty {
				width: 8%;
			}
			table td.filler {
				width: 20%;
				border:none;
			}
			
            /* BOL */
            .bol_list{
                width: 8.5in;
                height: 11in;
                page-break-after: always;
                padding: 0.3in;
                box-sizing:border-box;
            }
        }
        
        /*Display style*/
			html, body {
                width: 8.5in;
                height: 11in;
                font: 16px Arial;
                margin: 0;
                padding: 0;                
            }
			table{
				border-collapse: collapse;
			}
			table.bol_table {
				width: 7.9in;
			}
			table.bol_table td {
				padding: 4px;
				border: 1px solid black;
			}
			table th {
				padding:10px;
				font-size: 20px;
				font-weight: bold;
				border: 1px solid black;
			}
			
			table td.pal {
				width: 26%;
			}
			table td.sku {
				width: 38%;
			}
                        table td.smd {
				width: 8%;
			}
			table td.qty {
				width: 8%;
			}
			table td.filler {
				width: 20%;
				border:none;
			}	
			table td.field {
				padding: 8px;
				border:none;
			}			
			
            /* BOL */
            .bol_list{
                width: 8.5in;
                height: 11in;
                page-break-after: always;
                padding: 0.3in;
                padding-top: 4cm;
                box-sizing:border-box;
            }
</style>
</head>
<body>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>

