{% extends "paper_11x8p5_portrait.html" %}

{% block content %}

{% for pageNum, page in pages %}
	<div class="bol_list">	
		<table class="bol_table">
			<thead>
				<tr>
					<th colspan="2">PO: {{ po }}, {{ truck }}</th>
					<th colspan="3">Page {{ pageNum+1 }} of {{ pages|length }}</th>
				</tr>
			</thead>
			<tbody>
				{% for palletName, items in page %}
					{% for key,item in items %}
                                            
						<tr>
							<td class="filler"></td>
							{% if key == 0 %}
								<td class="pal" rowspan="{{ items|length }}">{{ palletName }}</td>
							{% endif %}
							<td class="sku">{{ item.GroupSKU }}</td>
                                                        <td class="smd">{% if item.ShipMethod == 'GR' %}GR{% else %}&nbsp;{% endif %}</td>
							<td class="qty">{{ item.Quantity }}</td>
							
						</tr>
					{% endfor %}
				{% endfor %}
				<tr>
					<td colspan="2" class="field" align="right">Date and time</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2" class="field" align="right">Ship ID</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2" class="field" align="right">Trailer #</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td colspan="2" class="field" align="right">SIL #</td>
					<td colspan="2"></td>
				</tr>
			</tbody>
		</table>
</div>	
{% endfor %}

{% endblock %}
