{% extends "truckPreloadBase.html" %}

{% block title %}{{ dealer.Name }} Truck Preload{% endblock %}

{% block content %}
<div style='position: absolute; left: 50%; margin-left: -160px; top: 0px; width: 500px; height: 20px;'>
Hello, {{ username }}. <a href='?is_exit=1'><button class='loginsubmit'>Exit</button></a>
</div>
<script>
    var js_results = {{ jsonResults|raw }};
</script>
<br>
<br>
<button class="btn btn-success" style="float: left;" onclick="printPalletBarcodes(js_results)">Generate Pallet Label</button>
<button class="btn btn-success" style="float: right;" onclick="addColumn(js_results)">Add Truck</button>
<br>
<br>
<form data-toggle="validator" role="form" id="truckForm" action="handler.php?t={{ dealer.Type }}&po={{ po }}&ref={{ ref }}&u={{ userid }}" method="POST">

    <div class="group">
        <h4>{{ dealer.Name }} Products</h4>
        <table data-toggle='table' id='truck_table' class='table table-bordered display table-striped'>
            <thead>
            <tr>
                <th class='info'>PALLET</th>
                <th class='info'>No Truck</th>
				{% for truckKey, truck in trucks %}
				<th class='danger truck_name' data-truck='".$truck."'>
					Truck {{ truck }}
					<input type="button" onclick="assignToTruck('{{ truck }}', true);" value="" alt="Select all" />
					<input type="button" onclick="assignToTruck('{{ truck }}', false);" value="" alt="Unselect all" />
				</th>
				{% endfor %}
            </tr>
            </thead>
            <tbody>
			{% for resultKey, result in results %}
			<tr class='truck_pallet {{ result.PALLET }}' data-pallet='{{ result.PALLET }}'>
				<td><b>{{ result.PALLET }}</b> <b class="{{ result.PALLET_SIZE }}">{{ result.PALLET_SIZE }}</b></td>
				<td><input type='radio' name='{{ result.PALLET }}' value='NULL' {% if result.TRUCK == null %}checked{% endif %}></td>
				{% for truckKey, truck in trucks %}
					<td class='success'><input onchange='validate_radio(this, event)' type='radio' name='{{ result.PALLET }}' value='{{ truck }}' {% if result.TRUCK == truck %}checked{% endif %}></td>
				{% endfor %}
			</tr>
			{% endfor %}	
            </tbody>
        </table>
    </div>

    <br>
    <button type="submit" style="float: right;" class="btn btn-success">Save Changes</button>
    <button type="button" onclick="printLabelsGo('{{ po }}', '{{ dealer.Type }}')" style="float: right; margin-right: 20px;" class="btn btn-success">Print Labels</button>
    <button type="button" onclick="removePallets('{{ po }}', '{{ userid }}')" style="float: left;" class="btn btn-success">Remove all trucks</button>
    <br>
    <br>
</form><br>

<div id="dialog">
    <div id="content"></div>
</div>
<script>
    $(document).ready(function(e){
        truckNum = {{ trucksCount + 1 }};
    });
</script>
{% endblock %}