{% extends "base4_2_barcode_label.html" %}

{% block content %}
{% for j in 1..data.QTY_BOX %}
    <!--SKU, UPC-->
    <div class="barcode_label">
    <table border="0" width="325" cellpadding="0"  align="center">
        <tr>
            <td>DreamLine SKU :</td>
        </tr>
        <tr>
            <td><strong>{{ data.SKU }}</strong></td>
        </tr>
        <tr>
            <td>HD SKU :</td>
        </tr>
        <tr>
            <td><strong>{{ data.HD_SKU }}</strong></td>
        </tr>
        <tr>
            <td>UPC :</td>
        </tr>
        <tr>
            <td><strong>{{ data.UPC }}</strong></td>
        </tr>
    </table>
    </div>
    
    {% for i in 1..2 %}
        <!--UPC-A barcoce-->
        <div class="barcode_label">
        <table border="0" width="325" cellpadding="0" align="center">
            <tr>
                <td align="center">
                    <img src="data:image/png;base64,{{ data.upca_code }}" />
                </td>
            </tr>
        </table>
        </div>
    {% endfor %}
{% endfor %}
{% endblock %}
