<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <style>
        /*print style*/
        @page {
            size: 4in 6in;  
        }
        @media print{
            html, body {
                width: 4in;
                height: 6in;
                font: 12px Arial;
            }
            
            table{
                border-collapse: collapse;
            }
            
            /*Picking List*/
            .picking_list{
                width: 4in;
                height: 6in;
                page-break-after: always;
            }
            .rotated_wrapper_picking{
                transform: rotate(90deg);
                transform-origin: left top;

                position: absolute;
                top: 0;
                left: 4in;
            }
            
            /*Packing List*/
            .packing_list{
                width: 4in;
                height: 6in;
                page-break-after: always;
            }
            .rotated_wrapper_packing{
                transform: rotate(90deg);
                transform-origin: left top;

                position: absolute;
                top: 6 in;
                left: 4in;
            }
            
            /*Flyer*/
            .flyer{
                width: 4in;
                height: 6in;
                text-align: center;
                page-break-after: always;
            }
            .logo{
                display: inline-block;
            }
            .collection{
                display: inline-block;
                font-size: 38px;
                font-weight: bold;
            }
            .drawing img{
                height: 300px;
            }
            .full_width_container1{
                position: relative;
                width: 380px;
                height: 110px;
            }
            .qr_code{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 110px;
                height: 110px;
            }
            .qr_code img{
                width: 110px;
                height: 110px;
            }
            .sku{
                position: absolute;
                left: 110px;
                top: 0px;
                width: 270px;
                padding: 5px;
                font-size: 20px;
                font-weight: bold;
                text-align: left;
            }
            .full_width_container2{
                position: relative;
                width: 380px;
                height: 50px;
            }
            .scan_text{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 110px;
                padding: 5px;
                text-align: left;
                font-size: 9px;
            }
            .visit_text{
                position: absolute;
                left: 110px;
                top: 0px;
                width: 270px;
                padding: 5px;
                font-size: 12px;
            }
            .dreamline_site{
                font-size: 16px;
                font-weight: bold;
            }   
        }
        
        /*Display style*/
        html, body {
                width: 4in;
                height: 6in;
                font: 12px Arial;
            }
            
            table{
                border-collapse: collapse;
            }
            
            /*Picking List*/
            .picking_list{
                width: 4in;
                height: 6in;
                page-break-after: always;
            }
            .rotated_wrapper_picking{
                transform: rotate(90deg);
                transform-origin: left top;

                position: absolute;
                top: 0;
                left: 4in;
            }
            
            /*Packing List*/
            .packing_list{
                width: 4in;
                height: 6in;
                page-break-after: always;
            }
            .rotated_wrapper_packing{
                transform: rotate(90deg);
                transform-origin: left top;

                position: absolute;
                top: 6 in;
                left: 4in;
            }
            
            /*Flyer*/
            .flyer{
                width: 4in;
                height: 6in;
                text-align: center;
                page-break-after: always;
            }
            .logo{
                display: inline-block;
            }
            .collection{
                display: inline-block;
                font-size: 38px;
                font-weight: bold;
            }
            .drawing img{
                height: 300px;
            }
            .full_width_container1{
                position: relative;
                width: 380px;
                height: 110px;
            }
            .qr_code{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 110px;
                height: 110px;
            }
            .qr_code img{
                width: 110px;
                height: 110px;
            }
            .sku{
                position: absolute;
                left: 110px;
                top: 0px;
                width: 270px;
                padding: 5px;
                font-size: 20px;
                font-weight: bold;
                text-align: left;
            }
            .full_width_container2{
                position: relative;
                width: 380px;
                height: 50px;
            }
            .scan_text{
                position: absolute;
                left: 0px;
                top: 0px;
                width: 110px;
                padding: 5px;
                text-align: left;
                font-size: 9px;
            }
            .visit_text{
                position: absolute;
                left: 110px;
                top: 0px;
                width: 270px;
                padding: 5px;
                font-size: 12px;
            }
            .dreamline_site{
                font-size: 16px;
                font-weight: bold;
            }
    </style>
</head>
<body>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
