/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Features button */
.dropit button {
    position: absolute;
    left: 350px;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    height: 30px;
    cursor: pointer;
    color: #367FBB
}
/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 77px;
    left: 348px; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 200px;
    list-style: none;
	padding: 3px;
	margin: 3px;
}
.dropit .dropit-open .dropit-submenu { display: block; }
