body {
	margin: 0;
}
.container {
	/*float: left;*/
	position: relative;
	margin: 30px 7px 0 8px;
	background: #367FBB;
	height: 150px;
	width: 285px;
	transition: 0.3s;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.container:hover {
	background: rgb(130, 167, 22);
	box-shadow: 10px 10px 7px rgba(0,0,0,0.3);
	transform: scale(1.15);
	z-index: 900;
}
.container a {
	display: block;
	height: 100%;
}
.outer {
	display: table;
	position: absolute;
	margin-top: 20px;
	height: 100px;
	width: 150px;
}
.middle {
	display: table-cell;
	vertical-align: middle;
}
.inner {
	margin-left: auto;
	margin-right: auto; 
	width: 90px;
	color: white;
	font-weight: 600;
}
.description {
	transition: 0.3s;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 140px;
	font-size: 12px;
	color: black;
	font-weight: 600;
}
.editIcon {
	transition: 0.3s;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
	left: 2px;
	cursor: pointer;
}
.editIcon:hover {
	transform: scale(1.1);
}
.a {
	cursor: pointer;
}
#darkBackground {
	transition: 0.3s;
	background:rgba(0,0,0,0.7);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}
#editPopup {
	position: fixed;
	width: 900px;
	height: 600px;
	left: 50%;
	margin-left: -450px;
	top: 100px;
	background: #eceeed;
	box-shadow: 0 0 10px black;
	border-radius: 5px 5px 0px 0px;
	display: none;
}
#controlArea {
	padding: 10px;
	height: 100px;
	background: #006299;
	border-radius: 5px 5px 0px 0px;
}
#editControls {
	color: white;
	font-size: 20px;
}
.editButton {
	float: right;
	width: 100px;
	height: 30px;
	margin-left: 20px;
	cursor: pointer;
}
#editAreaQuery {
	position: absolute;
	left: 0px;
	top: 120px;
	height: 480px;
	width: 700px;
}
.CodeMirror {
	height: 480px;
}
#editTextArea {
	width: 100%;
	height: 100%;
}
#editAreaName {
	position: absolute;
	right: 0px;
	top: 120px;
	height: 100px;
	width: 180px;
	background: #F1F1F1;
	padding: 10px;
	font-size: 12px;
}
#editTextAreaName {
	width: 175px;
	max-width: 175px;
	height: 80px;
	max-height: 80px;
}
#editAreaDescription {
	position: absolute;
	right: 0px;
	top: 240px;
	height: 340px;
	width: 180px;
	background: #F1F1F1;
	padding: 10px;
	font-size: 12px;
}
#editTextAreaDescription {
	width: 175px;
	max-width: 175px;
	height: 320px;
	max-height: 320px;
}
#queryContainer {
	/*position: absolute;
	top: 40px;
	left: 0px;*/
	/*width: 100%;
	overflow: hidden;*/
	margin: 0 auto;
	max-width: 1200px;
}
.grid {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
#headerContainer {
	/*position: absolute;
	top: 0px;
	left: 0px;
	width: 90%;*/
	height: 50px;
	padding: 5px 20px;
	/*padding-bottom: 5px;*/
	/*padding-left: 10%;*/
	/*background: rgb(130, 167, 22);*/
	color: #367FBB;
	background: rgba(54, 127, 187, 0.1);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	text-align: center;
}
.product {
	float: right;
	margin-top: 10px;
	position: relative;
	padding-right: 40px;
}
#backHref img {
	margin-left: 10px;
}
#backHref img:hover {
	transform: scale(1.05); 
}
.product i {
	font-weight: bold;
}
.logo {
	width: 196px;
	float: left;
}
img {
	max-width: 100%;
	vertical-align: top;
}


@media only screen and (max-width:1205px) {
	#queryContainer {
		max-width: 960px;
	}
	.container {
		width: 305px;
	}
}

.program{
	background: #999999;
}