{% extends "base_4x2_label.html" %}

{% block content %}
<!--{% for i in 1..2 %}-->
<!--SKU, LOT-->
<div class="barcode_label">
    <table border="0" width="325" cellpadding="0" align="center">
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td align="center">
                {{ code }}
            </td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
            <td align="center">
                <img src="data:image/png;base64,{{ data }}" />
            </td>
        </tr>
    </table>
</div>
<!--{% endfor %}-->
{% endblock %}