<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <style>
        /*print style*/
        @page {
            size: 4in 6in;
        }
        @media print{
            html, body {
                width: 4in;
                height: 6in;
                font: 18px Arial;
            }

            table{
                border-collapse: collapse;
                text-align: center;
            }

            /*Picking List*/
            .barcode_label{
                width: 4in;
                height: 2.8in;
                page-break-after: always;
            }
        }

        /*Display style*/
        html, body {
            width: 4in;
            height: 6in;
            font: 18px Arial;
        }

        table{
            border-collapse: collapse;
            text-align: center;
        }

    </style>
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>