.wrap {
    padding: 0 20px;
}
.main-header{
    background: rgba(54, 127, 187, 0.1);
    padding: 15px 20px;
    text-align: right;
}

.logo img{
    max-width: 100%;
    height: auto;
}
.header-info {
    margin-top: 14px;
}
.name{
    font-weight: bold;
    color: #367fbb;
    margin-right: 10px;
}
.top-pallet-btn{
    float: right;
    margin-left: 20px;
    outline: none;
}
.bottom-pallet-btn{
    margin-left: 20px;
    outline: none;
}
.bottom-pallet-btn.btn-danger{
    float: left;
}
.bottom-pallet-btn.btn-warning,
.bottom-pallet-btn.btn-default,
.bottom-pallet-btn.btn-info,
.bottom-pallet-btn.btn-success{
    float: right;
}
.bottom-pallet-btn.btn-success{
    margin-right: 20px;
}
.icon{
    margin-right: 5px;
}
.top-controls{
    padding: 25px 20px 16px;
}
.top-controls h2{
    margin: 0;
}
.top-controls p{
    margin: 0;
    margin-left: 5px;
    line-height: 33px;
}
.top-controls p.pull-left{
    line-height:40px;
    margin-left:10px;
}
fieldset {
    width: 300px;
    border: 0;
}
legend {
    font-size: 20px;
}
label.field {
    text-align: left;
    width: 100px;
    height: 20px;
    float: left;
    font-weight: bold;
    color: white;
}
fieldset p {
    clear: both;
    padding: 5px;
}

.loginsubmit {
    width: 100px;
    height: 20px;
    background: #294778;
    border: 0px;
    color: white;
    cursor: pointer;
}
div.login-wrapper {
    position: relative;
    top: 110px;
    width: 100%;
}
div.login-screen {
    position: relative;
    width: 330px;
    margin: 0 auto;
    padding: 10px;
    background: #367FBB;
    text-align:center;
}
div.copyright {
    bottom: 2px;
    width: 100%;
    text-align:center;
    margin: 10px 0 0 0;
}
span.login-message {
    color: tomato;
    font-weight: bold;
    font-size: 16px;
}
div.error-wrapper {
    position: relative;
    top: 100px;
    width: 100%;
}
div.error-screen {
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #900;
    border-left: 5px solid #900;
    text-align:left;
    font-weight: bold;
    color: #900;
}
.hide{
    visibility: hidden;
}
input[type='number'] {
    cursor: default;
}
input.overweight-warning[type='number'] {
    background-color: #e0e0e0;
}
td.pallet_col {
    width:78px;
}
tr.tr-done{
    background-color: #ddd !important;
    color: #999;
}
tr.tr-done .success{
    background-color: #ddd !important;
}
tr.tr-outofstock{background-color:#f2dede !important;}
tr.tr-outofstock td{color:#999;}
tr.tr-outofstock td.success{background-color:#e5cfcf !important;}
tr .notzero{background-color:#fffad0;}
tr.tr-zeroleft{
    background-color: #e0f0f4 !important;
}
tr.tr-zeroleft .success{
    background-color: #c8e5e0 !important;
}
tr.tr-done .success input,
tr.tr-zeroleft .success input{
    background-color: #dfe7ea;
}
tr.tr-done .success input.notzero,
tr.tr-zeroleft .success input.notzero,
tr .success input.overweight-warning.notzero {
       background-color:#f6f1c7;
}
td>span{
    vertical-align: top;
}
td .order-supply{
    background: url('../pictures/supply.png');
    width: 32px;
    height: 32px;
    display: inline-block;
}
td .order-supply2{
    background: url('../pictures/negative.png');
    width: 32px;
    height: 32px;
    display: block;
}
td .order-supply-blank{
    width: 32px;
    height: 32px;
    display: block;
}




.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th{padding:4px 8px;}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td{vertical-align:middle;padding:4px 8px;}

td.js-append-after > span{vertical-align:middle;}
td.js-append-after span.product{width:30px;}
td.js-append-after i{display:inline-block;vertical-align:middle;}
tr.js-product-row td:first-child{text-align:center;}

td.pallet_col .form-group{margin:0;}
td.pallet_col .form-group .form-control{width:58px;height:26px;padding:0 1px 0 3px;margin:0;}

span.upcValue{text-decoration:underline;}


.main-header{position:fixed;top:0;left:0;right:0;background-color:#ebf2f8 !important;opacity:1 !important;}

#truck_table{min-width:706px;margin-bottom:0;border:0;}
#truck_table.table-bordered>tbody>tr>td:first-child{border-left:0;}
#truck_table.table-bordered>tbody>tr:first-child>td{border-top:0;}
#truck_table.table-bordered>tbody>tr:last-child>td{border-bottom:0;}
#truck_table .js-product-head{display:none;}
#truck_table tbody td{min-width:52px;}
#truck_table tbody td:first-child{min-width:34px;}
#truck_table tbody td.colUpc{min-width:114px;}
#truck_table tbody td.colDesc{min-width:276px;}
#truck_table tbody td.colQuantity{min-width:82px;}

.table-header{position:fixed;top:171px;left:20px;right:20px;border:1px solid #ddd;border-top:2px;border-bottom:0;min-width:706px;overflow-x:hidden;z-index:100;height:91px;overflow-x:hidden;background-color:#d9edf7;}
.table-header.bgPallets{background-color:#f2dede;}
.table-header .innerBg{margin-right:-10000px;}
.table-header .table-header-col{float:left;background-color:#d9edf7;font-weight:bold;position:relative;}
.table-header .table-header-col div{display:flex;border-right:1px solid #ddd;min-height:91px;padding:5px 8px;}
.table-header .table-header-col div span.inner{display:block;margin:auto 0 0 0;width:100%;overflow:hidden;}
.table-header .table-header-col:last-child div{border-right:0;}
.table-header .table-header-col.pallet_col{background-color:#f2dede;}
.table-header .table-header-col.pallet_col div span.inner{margin:auto 0 0 0;}
.table-header .table-header-col.pallet_col .palletMenu{display:block;position:absolute;top:-1px;right:0;left:0;padding:0;height:10px;min-height:22px;}
.table-header .table-header-col.pallet_col .palletMenu .blockList{display:none;position:absolute;top:-4px;right:0;background-color:#edebeb;z-index:110;width:100%;font-size:12px;font-weight:normal;padding:11px 6px;
min-height:20px !important;}
.table-header .table-header-col.pallet_col .palletMenu .blockList label{display:block;line-height:1em;margin-bottom:0;}
.table-header .table-header-col.pallet_col .palletMenu .blockList label input{float:left;margin-right:2px;width:15px;height:15px;}
.table-header .table-header-col.pallet_col .palletMenu .blockList label:after{content:'';display:block;clear:both;height:0;width:100%;}
.table-header .table-header-col.pallet_col .palletMenu .blockList span.clearAll{display:block;margin-top:10px;font-weight:bold;cursor:pointer;}
.table-header .table-header-col.pallet_col .palletMenu .blockList .fa fa-ban{font-size:1.2em;}
.table-header .table-header-col.pallet_col .palletMenu .fa.fa-sort-desc{font-size:1.4em;background-color:#edebeb;padding:0 5px 5px 5px;cursor:pointer;width:100%;padding: 0 0 2px;text-align:center;margin-top:-7px;}
.table-header .table-header-col.pallet_col .palletMenu .fa.fa-sort-desc:before{color:#ddd;}
.table-header .table-header-col.pallet_col .palletMenu:hover .blockList{display:block;}

.th-center{text-align:center !important;}
.th-center span.inner{margin:auto auto 0 auto !important;}
.th-desc{min-width:270px;}


.top-controls{position:fixed;top:96px;left:0;right:0;background-color:#fff;}

.footerBottom{position:fixed;bottom:0;left:0;right:0;background-color:#fff;margin:0;padding:10px 0;border-top:2px solid #ebf2f8;}
.togglePart{padding:4px 0 0 0 !important;min-height:16px !important;}
.togglePart form{width:100%;}
.toggle-bg{background: #efecec;border-radius:2px;display:block;height:16px;position:relative;width:100%;}
.toggle-bg input{height:28px;margin:0;opacity:0;padding:0;position:absolute;top:-10px;width:50%;z-index: 2;}
.toggle-bg input:first-child{left:0;}
.toggle-bg input:nth-child(even){left:50%;right:0;}
.switch{background-color:#d8d8d8;display:block;float:left;height:14px;left:49%;position:relative;top:1px;width:50%;z-index:1;transition:left .2s ease;border-radius:2px;}
.toggle-bg .textLeft{display:block;position:absolute;z-index:0;top:0;left:0;bottom:0;width:50%;font-size:12px;color:#000;text-align:center;-moz-user-select: none;-webkit-user-select: none;}
.toggle-bg .textRight{display:block;position:absolute;z-index:0;top:0;right:0;bottom:0;width:50%;font-size:12px;color:#000;text-align:center;-moz-user-select: none;-webkit-user-select: none;}
.toggle-bg input:checked~.switch{left:1px;background-color:#dfc7c7;}

.toggle-bg input~:checked~.switch{left:49%;background-color:#d8d8d8;}
.toggle-bg input:checked{z-index:0;}

form#palletForm .wrap{padding:0;position:fixed;top:262px;left:20px;right:20px;bottom:68px;z-index:10;overflow:auto;min-width:800px;border:1px solid #ddd;}div#preloadHistory .wrap{overflow-y:auto;overflow-x:auto;padding:0;position:absolute;top:196px;left:20px;right:20px;bottom:0px;}
a.nounderline:hover, a.nounderline:focus, a.nounderline:visited{text-decoration:none;}
table.changesTable td {
    padding: 2px;
    min-width: 100px;    
    font: 16px Arial;
    line-height: 24px;
}
table.changesTable td.changedSKU {
    min-width: 250px;    
}
table.changesTable td.bg-danger {
    color: #833;
}
table.changesTable td.bg-success {
    font-weight: bold;
    color: #383;
}
table.changesTable tr.top-bordered {
    border-top: 1px solid black;    
}
table.changesTable th.th-center {
    text-align: center;
}