fieldset {
		width: 300px;
		border: 0;
	}
	legend {
		font-size: 20px;
	}
	label.field {
		text-align: left;
		width: 100px;
		height: 20px;
		float: left;
		font-weight: bold;
		color: white;
	}
	fieldset p {
		clear: both;
		padding: 5px;
	}
	
	.glb{
		display: block;
	}
	
	.gtm{
		display: none;
		font-weight: 600;
	}
	
	.done:hover .glb{
		display: none;
	}
	
	.done:hover .gtm{
		display: block;
	}
	
	 .dataTable td.status {
	 text-align: left;
		padding: 0;
	 white-space: nowrap;
	}
	.dataTable td.status i {
	margin-left: 5px;
	margin-right: 5px;
	 display: inline-block;
	 width: 32px;
	 height: 44px;
	 vertical-align: middle;
	  background-size: 100%;
	  border-radius: 5px;
	}

#duplicateMessageBox #messageSpan{
  font-weight: bold;
  font-family: Arial;
  color: black;
  position: absolute;
  right: 12px;
  font-size: 17px;
  cursor: pointer;
}

#duplicateMessageBox cancelButton {
	height: 31px;
	width: 70px;
	margin-left: 140px;
	margin-top: 10px;
	background-color: #367FBB;
	color: #FFF;
	font-weight: bold;
	cursor: pointer;
 }

#duplicateMessageBox button{
  height: 31px;
  width: 70px;
  margin-left: 10px;
  background-color: #367FBB;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

#duplicateMessageBox input[type="text"]{
  height: 23px;
  width: 302px;
  font-size: 16px;
  padding: 2px 5px;
}

#duplicateMessageBox label {
  display: block;
  padding: 10px 2px;
  color: #367FBB;
  font-weight: bold;
  background: #FAFAFA;
  border-bottom: #EEE 2px solid;
  font-size: 18px;
  margin-bottom: 16px;
}

#duplicateMessageBox{
	position: fixed;
  width: 310px;
  height: 450px;
  padding: 10px;
  top: 200px;
  left: 50%;
  margin-left: -155px;
  background: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 30px #808080;
  z-index: 2000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
 }
 
#duplicateLabel{
	display: none;
}

#reasonNoteDuplicate{
	display: none;
	resize: none;
}

#duplicateBackground{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1999;
	display: none;
	background: rgba(0, 0, 0, 0.5);
}

#backHref {
	position: absolute;
	right: 1%;
	transition: 0.3s;
	top: 10%;
}
#backHref:hover {
	transform: scale(1.1);
}
#headerContainer {
	/*position: absolute;
	top: 0px;
	left: 0px;
	width: 90%;*/
	height: 50px;
	padding: 5px 20px;
	/*padding-bottom: 5px;*/
	/*padding-left: 10%;*/
	/*background: rgb(130, 167, 22);*/
	color: #367FBB;
	background: rgba(54, 127, 187, 0.1);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.product {
	float: right;
	margin-top: 10px;
	position: relative;
	padding-right: 40px;
}
#backHref img {
	margin-left: 10px;
}
#backHref img:hover {
	transform: scale(1.05); 
}
.product i {
	font-weight: bold;
}
