{% extends "palletPreloadBase.html" %}

{% block title %}HDDC Pallet Preload{% endblock %}

{% block content %}
<div class="error-wrapper">
	<div class="error-screen">
		<p>{{ error }}</p>
	</div>
</div>
{% endblock %}