<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="Include/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Include/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="Include/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Include/css/style.css">
    <link rel="stylesheet" href="Include/css/fontello.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="Include/jQuery/jquery-1.11.3.min.js"></script>
    <script src="Include/bootstrap/js/bootstrap.min.js"></script>
    <script src="Include/jquery-ui-1.11.4.custom/jquery-ui.js"></script>
    <script src="Include/jquery-serializeForm/jquery-serializeForm.min.js"></script>
    <script src="js/script.js?r={{ random() }}"></script>
    
    
</head>
<body class="dt-example">
    {% block content %}{% endblock %}
</body>

