{% extends "palletPreloadBase.html" %}

{% block title %}{{ dealer.Name }} Pallet Preload{% endblock %}

{% block content %}
<div id='headerContainer' class='clearfix main-header'>
    <div class='logo pull-left'><img src='../Include/img/logo.png'></div>
    <div class='pull-right header-info'>Hello, <span class='name'>{{ username }}</span> <a href='?is_exit=1'><button class='btn btn-defaul'><span class='icon-logout icon'></span>Exit</button></a></div>
</div>

<form role="form" id="palletForm" action="handler.php?t={{ dealer.ID }}&po={{ PONumber }}&ref={{ RefNumber }}&u={{ userid }}" method="POST">
    <div class="group">
        <div class="top-controls clearfix">
            <h2 class="pull-left">{{ PONumber }} {{ dealer.Name }} Products</h2>{% if hidden > 0 %}<p class="pull-left">( hidden pallets: {{ hidden }} )</p>{% endif %}
            <div class="clearfix">
                <button class="btn btn-primary top-pallet-btn" type="button" onclick="createPallet()"><span class="icon-plus icon"></span>Add Pallet</button>
            </div>
        </div>
        <div class="table-header">
            <div class="innerBg clearfix">
                <div class="table-header-col th-center">
                    <div><span class="inner">№</span></div>
                </div>
                <div class="table-header-col">
                    <div><span class="inner"> UPC / SKU</span></div>
                </div>
                <div class="table-header-col">
                    <div><span class="inner">Description</span></div>
                </div>
                <div class="table-header-col th-center">
                    <div><span class="inner">Ship Method / Product Weight</span></div>
                </div>
                <div class="table-header-col js-append-after">
                    <div><span class="inner">Quantity<br />left to distribute</span></div>
                </div>
                {% for palletKey, pallet in pallets %}
                <div class='table-header-col danger pallet_col'>
                    <div>
                        <span class="inner">
                            <span class="truck_name">{{ pallet.Pallet }}</span><br>
                            <span class="pallet-div" data-pallet="{{ palletKey }}" data-max-weight="{{ pallet.MaxWeight }}">{{ pallet.Weight }}</span> lbs
                            <div class="togglePart">
                                <span class="toggle-bg">
									<span class="textLeft">L</span>
									<span class="textRight">S</span>
									<input type="radio" name="checker[{{ pallet.Pallet }}]" value="short" {% if pallet.Size == "short" %}checked=""{% endif %}>
									<input type="radio" name="checker[{{ pallet.Pallet }}]" value="long" {% if pallet.Size == "long" %}checked=""{% endif %}>
									<span class="switch"></span>
								</span>
							</div>
						</span>
						<div class="palletMenu">
							<i class="fa fa-sort-desc" aria-hidden="true"></i>
							<div class="blockList">
								<span class="clearAll js-pallet-clear" data-pallet="{{ palletKey }}"><i class="fa fa-ban" aria-hidden="true"></i> Clear all</span>
							</div>
						</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="wrap">
            <table data-toggle='table' id='truck_table' class='table table-bordered display table-striped'>
                <thead>
                    <tr class="js-product-head">
                        <th class='info th-center'>Row</th>
                        <th class='info'>UPC / SKU</th>
                        <th class='info th-desc'>Description</th>
                        <th class='info th-center' colspan="2">Ship Method / Product Weight</th>
                        <th class='info js-append-after'>Quantity<br />left to distribute</th>
                        {% for palletKey, pallet in pallets %}
                            <th class='danger pallet_col'><span class='truck_name'>{{ pallet.Pallet }}</span><br /><span class="pallet" data-pallet="{{ palletKey }}" data-max-weight="{{ pallet.MaxWeight }}">{{ pallet.Weight }}</span> lbs</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set rowCounter = 1 %}
                    {% for productKey, product in products %}
                        <tr class="js-product-row {% if product.Done == 1 and product.QuantityLeft == 0 %}tr-done{% elseif product.QuantityLeft == 0 %}tr-zeroleft{% endif %}" data-product="{{ productKey }}">
                            <td>{{ rowCounter }}</td> {% set rowCounter = rowCounter + 1 %}
                        <td class="colUpc"><span class="upcValue">{{ product.UPC }}</span><br/>{{ product.SKU }}</td>
                        <td class="colDesc">{{ product.Descr }}</td>
                            <td>{{ product.ShipMethod }}</td>
                            <td>{{ product.ProductWeight }}</td>
                        <td class="colQuantity js-append-after">
                                <span class="product" data-product="{{ productKey }}" data-max-qty="{{ product.Quantity }}" data-weight="{{ product.ProductWeight }}" data-left="{{ product.QuantityLeft }}">{{ product.QuantityLeft }}</span>
                                {% if product.Supply >0 %}<i class="order-supply2" title="Not enough items for this product! Calculated date: {{ product.Supply }}"></i>{% else %}<i class="order-supply-blank"></i>{% endif %}
                            </td>
                            {% for palletKey, pallet in pallets %}
                                {% if product['Pallets'][palletKey] is defined %}
                                    <td class='success pallet_col'>
                                        <div class='form-group'>
                                            <input {% if product.Done == 1 and product.QuantityLeft == 0 %}readonly{% endif %} type="number" data-pallet="{{ palletKey }}" data-product="{{ productKey }}" class="form-control preload-cell" min="0" max="{{ (product['Pallets'][palletKey] + product.QuantityLeft)|default('0') }}" value="{{ product['Pallets'][palletKey] }}" name="product[{{ productKey }}][{{ pallet.Pallet }}][quantity]" />
                                        </div>
                                    </td>
                                {% else %}
                                    <td class='success pallet_col'>
                                        <div class='form-group'>
                                            <input {% if product.Done == 1 and product.QuantityLeft == 0 %}readonly{% endif %} type="number" data-pallet="{{ palletKey }}" data-product="{{ productKey }}" class="form-control preload-cell" min="0" max="{{ product.QuantityLeft|default('0') }}" value="0" name="product[{{ product.UPC }}][{{ pallet.Pallet }}][quantity]" />
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class='form-group clearfix footerBottom'>
        <button type="submit" class="btn btn-success bottom-pallet-btn"><span class="icon-floppy icon"></span>Save Changes</button>
        <button type="button" onclick="truckPreloadGo('{{ PONumber }}', '{{ dealer.ID }}');" class="btn btn-warning bottom-pallet-btn"><span class="icon-truck icon"></span>Truck Preload</button>
        <button type="button" onclick="printLabelsGo('{{ PONumber }}', '{{ dealer.ID }}');" class="btn btn-info report-btn bottom-pallet-btn"><span class="icon-doc-text icon"></span>Print Labels</button>
        <button type="button" onclick="changeHistoryGo('{{ PONumber }}');" class="btn btn-default bottom-pallet-btn"><span class="icon-doc-text icon"></span>Changelog</button>
        <button type="button" onclick="removePallets('{{ PONumber }}', {{ userid }});" class="btn btn-danger bottom-pallet-btn"><span class="icon-trash-empty icon"></span>Remove all pallets</button>
    </div>
</form>
<div id="dialog">
    <div id="content"></div>
</div>
<script>
    palletCounter = {{ hidden + pallets|length }};
    palletArray = JSON.parse( '{{ hidden_json|raw }}' );
</script>
{% endblock %}