{% extends "palletPreloadBase.html" %}

{% block title %}Preload History{% endblock %}

{% block content %}
<div id='headerContainer' class='clearfix main-header'> 
    <div class='logo pull-left'><img src='../Include/img/logo.png'></div>
    <div class='pull-right header-info'>Hello, <span class='name'>{{ username }}</span> <a href='?is_exit=1'><button class='btn btn-defaul'><span class='icon-logout icon'></span>Exit</button></a></div>
</div>
<div class="group" id="preloadHistory">
    <div class="top-controls clearfix">
        <h2 class="pull-left">Order "{{ PONumber }}" preload change history</h2>
    </div>
    <div class="wrap">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#pallet">Pallet Preload History</a></li>
            <li><a data-toggle="tab" href="#truck">Truck Preload History</a></li>                
        </ul>
        <div class="tab-content"><br/>
            <div id="pallet" class="tab-pane fade in active">
                {% if palletLog|length > 0 %}
                {% for key, row in palletLog %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" class="nounderline" href="#palletLog{{ key }}"><b>{{ row.user }}</b> @ {{ row.date }}</a>
                        </h4>
                    </div>
                    <div id="palletLog{{ key }}" class="panel-collapse collapse {% if key == 0 %}in{% endif %}">
                        <div class="panel-body">
                            {% if row.diff.message %}
                                <div class="alert alert-info"><b>{{ row.diff.message }}</b></div>
                            {% else %}
                            <table class="changesTable">
                                <tr>
                                    <th>SKU</th>
                                    <th class="th-center">Pallet</th>
                                    <th class="th-center">Old</th>
									<th class="th-center">New</th>
                                </tr>
                                {% for i, item in row.diff %}
                                {% set firstItem = true %}
                                    {% for p, pallet in item %}
                                    <tr {% if firstItem %}class="top-bordered"{% endif %}>
                                        {% if firstItem %}
                                            <td rowspan="{{ item|length }}" class="changedSKU">{{ i }}</td>
                                            {% set firstItem = false %}
                                        {% endif %}
                                        <td align="center">{{ p }}</td>
                                        <td class="bg-danger" align="center">{{ pallet.before }}</td>
                                        <td class="bg-success" align="center">{{ pallet.after }}</td>

                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="alert alert-info"><b>Sorry, no pallet changes was logged</b></div>
                {% endif %}                
            </div>
            <div id="truck" class="tab-pane fade in">
                {% if truckLog|length > 0 %}
                {% for key, row in truckLog %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" class="nounderline" href="#truckLog{{ key }}"><b>{{ row.user }}</b> @ {{ row.date }}</a>
                        </h4>
                    </div>
                    <div id="truckLog{{ key }}" class="panel-collapse collapse {% if key == 0 %}in{% endif %}">
                        <div class="panel-body">
                            {% if row.diff.message %}
                                <div class="alert alert-info"><b>{{ row.diff.message }}</b></div>
                            {% else %}
                            <table class="changesTable">
                                <tr>
                                    <th>Pallet</th>
                                    <th class="th-center">Truck</th>
                                    <th class="th-center">Changes</th>
                                </tr>
                                {% for i, item in row.diff %}
                                {% set firstItem = true %}
                                    {% for p, pallet in item %}
                                    <tr {% if firstItem %}class="top-bordered"{% endif %}>
                                        {% if firstItem %}
                                            <td rowspan="{{ item|length }}" class="changedSKU">{{ i }}</td>
                                            {% set firstItem = false %}
                                        {% endif %}
                                        <td align="center">{{ p }}</td>                                        
                                        <td class="{% if pallet.after == 'removed' %}bg-danger{% else %}bg-success{% endif %}" align="center">{{ pallet.after }}</td>

                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="alert alert-info"><b>Sorry, no truck changes was logged</b></div>
                {% endif %}
            </div>
        </div>
        
    </div>
</div>


{% endblock %}