/*inventory all */
.deletedAltRowClass {
    color: darkred;
}

.system-btn button {
    width: 100%;
    margin-bottom: 10px;
}

#printer_settings, #module_accounts {
    display: none
}

#printer_settings label, #printer_settings input {
    display: block;
}

#printer_settings input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

#printer_settings fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

.darkBack {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.page-loading {
    display: none;
    position: fixed;
    /*width: 128px;*/
    /*height: 128px;*/
    top: 50%;
    left: 50%;
    margin-left: -64px;
    margin-top: -64px;
    z-index: 101;
}

.page-loading img {
    width: 200px;
    height: 200px;
}

/*inventory all*/
.deletedAltRowClass {
    color: darkred;
}

.system-btn button {
    width: 100%;
    margin-bottom: 10px;
}

/*#user_settings {display: none}*/
#user_settings label, #printer_settings input {
    display: block;
}

#user_settings input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

#user_settings fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

#iForm [type="submit"] {
    margin: 1em auto;
}

/* Extra Small Devices, Phones xs */
@media (max-width: 479px) {
    #module-header > * {
        font-size: 24px;
        line-height: 1.1;
        margin: 11px;
        text-align: right;
    }

    #module-header {
        border-radius: 45px;
        margin-bottom: 10px;
    }

    .scanning {
        background: url("../img/barcode90.png") no-repeat;
    }

    .picking {
        background: url("../img/picked90.png") no-repeat;
    }

    .packing {
        background: url("../img/packed90.png") no-repeat;
    }

    .loading {
        background: url("../img/loaded90.png") no-repeat;
    }

    div#FTL {
        background: url("../img/loaded_FTL90.png") no-repeat;
    }

    .shipping {
        background: url("../img/transport90.png") no-repeat;
    }

    #sForm label:first-child {
        font-size: 3em;
        padding-top: .1em;
        line-height: 1em;
    }

    /*inventory_activity*/
    .inventory_activity h1 {
        margin: 0 0 0 80px;
        font-size: x-large;
    }

    #iForm label {
        font-size: 1.8em;
    }

    #iForm > fieldset > div > div {
        margin-bottom: 1em;
    }

    #date_block span:before {
        content: 'Date: ';
    }

    #sForm label:nth-child(2), #lForm label:nth-child(2) {
        font-size: x-large;
    }

    #sForm label:not(first-child), #lForm label:not(first-child) {
        font-size: large;
    }

    #sForm button {
        margin: 1em 0 2em 0;
    }

    #usersBoxes button {
        width: 178px;
        height: 70px;
        float: left;
        margin: 2px 0;
    }

    #userAcc {
        font-size: 3em;
    }
}

@media (min-width: 480px) /* iPad Pro */ {

    #sForm label:first-child {
        padding-top: .1em;
        font-size: 3em;
    }

    #sForm label:nth-child(2) {
        font-size: xx-large;
    }

    #sForm button {
        margin: 1em 0 2em 0;
    }

    #iForm label, #lForm label {
        font-size: 2em;
    }

    #iForm > fieldset > div > div, #lForm > fieldset > div > div {
        margin-bottom: 1em;
    }

    #module-header {
        border-radius: 20px;
        border-bottom: 0
    }

    .module-container:not(.inventory_activity) {
        padding-top: 22px;
    }

    /*inventory activity form*/
    #date_block {
        display: inline;
        float: right;
        line-height: 1.1;
        font-size: 36px;
        margin-top: 20px
    }

    #date_block span:before {
        content: 'Date:';
    }

    .scanning h1 {
        white-space: pre;
    }

    #usersBoxes button {
        width: 178px;
        margin: 3px;
        height: 90px;
        float: left;
        display: table-caption;
    }

    #userAcc {
        padding-top: 0.7em;
        font-size: 3em;
    }
}

/* Large devices (large desktops, 1200px and up) sm iPad */
@media (min-width: 768px) {
    .scanning {
        background: url("../img/barcode90.png") 50% 2% no-repeat;
    }

    .picking {
        background: url("../img/picked90.png") 50% 4% no-repeat;
    }

    .packing {
        background: url("../img/packed90.png") 50% 2% no-repeat;
    }

    .loading {
        background: url("../img/loaded90.png") 50% 4% no-repeat;
    }

    div#FTL {
        background: url("../img/loaded_FTL90.png") 50% 2% no-repeat;
    }

    .shipping {
        background: url("../img/transport90.png") center 2% no-repeat;
    }

    #sForm label:first-child {
        font-size: 4em;
    }

    #sForm label {
        font-size: xx-small;
    }

    #lForm label {
        font-size: x-large;
        line-height: 1em;
    }

    #date_block {
        float: right;
    }

    #usersBoxes button {
        width: 178px;
        margin: 2px;
    }
}

/* Medium devices (desktops, 992px and up) md */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) lg*/
@media (min-width: 1200px) {
    .picking {
        background: url("../img/picked180.png") center top no-repeat;
    }

    .packing {
        background: url("../img/packed180.png") center top no-repeat;
    }

    .loading {
        background: url("../img/loaded180.png") center top no-repeat;
    }

    div#FTL {
        background: url("../img/loaded_FTL180.png") center top no-repeat;
    }

    .scanning {
        background: url("../img/barcode180.png") center top no-repeat;
    }

    .shipping {
        background: url("../img/transport182.png") center top no-repeat;
    }

    #iForm label {
        font-size: 2em;
    }

    #iForm > fieldset > div > div {
        margin-bottom: 1em;
    }

    .module-container:not(.inventory_activity) {
        padding-top: 27px;
    }

    .module-container:not(.inventory_activity) h1, #date_block {
        margin: 1em 0;
    }

    #userAcc {
        padding-top: 1.4em;
    }

    .ui-dialog {
        width: 40%;
    }

    #module_accounts button {
        width: 174px;
        margin: 4px;
    }
}

#module_accounts button {
    font-size: large;
    font-weight: 600;
}

/*#message {height: 60px}*/

/* Inventory title */

/* header */

.module-container > .col-md-12:last-child {
    border: 0;
}

/* Scanning */
.scanning > .col-md-12:first-child {
    border: 3px solid #90DFAA;
    color: #90DFAA;
}

/* Picking */
.picking button {
    background-color: #A1B400;
    color: #fff;
}

.picking > .col-md-12:first-child {
    border: 3px solid #A1B400;
    color: #A1B406;
}

/* Packing */
.packing > .col-md-12:first-child {
    border: 3px solid #2EAEB7;
    color: #2EAEB7;
}

/* Loading */
.loading > .col-md-12:first-child {
    border: 3px solid #FFCA08;
    color: #FFCA08;
}

/* Loading FTL*/
#FTL > .col-md-12:first-child {
    border: 3px solid #B909FF;
    color: #B909FF;
    border-bottom: none;
}

/* Shipping */
.shipping > .col-md-12:first-child {
    border: 3px solid #50A7A0;
    color: #50A7A0;
}

/* Main page links
Inventory,Scanning styles
 */
.gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,d2ebf9+100;Blue+3D+%2312 */
    background: rgb(254, 255, 255); /* Old browsers */
    background: radial-gradient(ellipse at center, rgba(254, 255, 255, 1) 0%, rgba(210, 235, 249, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff', endColorstr='#d2ebf9', GradientType=1); /* IE6-9 fallback on horizontal gradient */

}

#warehouse > div:not(.module-container) {
    overflow: hidden;
}

#warehouse > div > h2 {
    border-radius: 25px;
    padding: 16px;
    text-align: center;
}

#warehouse ul.system-btn {
    list-style: none;
    padding: 10px 0
}

#warehouse ul.system-btn li {
    margin: 1% 3%;
    height: 90px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    line-height: 6em;
    text-indent: 73px;

    border-radius: 90px;
    background-repeat: no-repeat;
}

#warehouse ul.system-btn li:hover {
    box-shadow: #d9edf7 0.1em 0.1em 0.1em
}

#warehouse ul.system-btn li > a {
    font-size: large;

    text-decoration: none;
    text-transform: uppercase;

    font-weight: 600;
}

/* Inventory links on main page */
#inventory_activity li {
    background-position: 8% center;
    border: 2px solid #808D8E;
}

#inventory_activity li a {
    color: #525151
}


/** Inventory activity systems ul.inv_systems */
#RCVD {
    background-image: url('../img/rcvd63.png');
}

#PICK {
    background: url("../img/pick63.png");
    /*border-color: #fff53a;*/
}

li[id="RPL+"] {
    background: url("../img/add63.png");
}

li[id="RPL-"] {
    background: url("../img/rem63.png");
    text-indent: 73px;
}

/* Scanning systems*/
ul.system-btn li {
    background-position: -1% center;
}

ul.system-btn li#loading {
    background-image: url("../img/loaded90.png");
    border: 2px #ffca08 solid;
}

li#loading a {
    color: #FFCA08;
}

li#FTL {
    background-image: url("../img/loaded_FTL90.png");
    border: 2px #B606FF solid;
}

li#FTL a {
    color: #b606ff;
}

ul.system-btn li#packing {
    background-image: url("../img/packed90.png");
    border: 2px solid #2EAEB7;
}

li#packing a {
    color: #2EAEB7;
}

ul.system-btn li#picking {
    background-image: url("../img/picked90.png");
    border: 2px solid #A1B400;
}

li#picking a {
    color: #A1B400;
}

ul.system-btn li#rits {
    background-image: url("../img/rits90.png");
    border: 2px solid #184F78;
}

li#rits a {
    color: #184F78;
}

/* shipping */
ul.system-btn li#shipping {
    background-image: url("../img/transport90.png");
    border: 2px solid #50A7A0;
}

li#shipping a {
    color: #50A7A0;
}

/* scanning */
ul.system-btn li#scanning {
    background-image: url("../img/barcode90.png");
    border: 2px solid #90DFAA;
}

li#scanning a {
    color: #90DFAA
}

/* packing */
ul.system-btn li#packing {
    background-image: url("../img/packed90.png");
    border: 2px solid #2EAEB7;
}

li#packing a {
    color: #2EAEB7;
}

/* permission's style */
ul.system-btn li.disabled {
    opacity: 0.4;
    cursor: text;
}

a[href="####"], ul.system-btn li.disabled a {
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}

.logo {
    position: relative;
    background: url("../img/logo.png") top center no-repeat;
    background-size: 300px 67px;
    width: 300px;
    height: 67px;
    margin: 15px auto;
}

/* Bootstrap alerts */
.alert-dismissable strong {
    text-transform: capitalize
}

/* Bootstrap tables */
#user_settings .table > tbody > tr > td {
    vertical-align: baseline;
}

/* Navigation bar logout text */
#time2off {
    font-size: 10px;
    white-space: nowrap;
}

/* Loading styles */
.loading form {
    margin-top: 15px;
    padding-top: 15px;
}

#module_accounts form {
    position: absolute;
}

/*#module_accounts button.ui-dialog-titlebar-close{*/
/*display: none;*/
/*}*/
#usersBoxes {
    overflow-x: visible;
    padding: 0;
}

/* Manage users page */
#toggleUserActive {
    margin: 0 0 10px;
}

/* Errors effects */
.module-container {
    z-index: 0;
}

#scanForm {
    border-radius: 25px;
    border: none
}

/* Inventory type page*/
.inventory_activity > div:first-child {

    min-height: 128px;
}

.inventory-title {
    padding-left: 105px;
}

.inv_systems li {
    margin: 10px;
    height: 64px;
    border: 2px solid transparent;
    border-radius: 90px;
    line-height: 4em;
}

.inv_systems li a {
    /*padding-left: 64px;*/
    font-size: x-large;
    text-transform: none;
    text-decoration: none;
}


.progress-hide {
    display: none;
}

.progress-bar-scanned .progress{
    height: 30px;
}

.progress-bar-scanned .progress-bar{
    font-size: 18px;
    line-height: 30px;
}
/* Alert Messages */
ul.po-status li{
    list-style: none;
    text-transform: uppercase;
    font-style: italic;
}
ul.po-status li:last-child:after{
    content: ".";
}