{% extends "pageBase.html" %}
{% block title %}Incompatible Products Exclusions{% endblock %}
{% block include %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<script src="Include/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="Include/sweetalert2/sweetalert2.min.css">

<script src="js/fptrelated.js"></script>
<link rel="stylesheet" href="Include/css/fptrelated.css">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Incompatible Products Exclusions</h3>
                        </div>
                        <div class="col col-xs-6 text-right"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list fptrelated" id="table">
                        <thead>
                        <tr>
                            <th class="name">PONumber</th>
                            <th class="configure"></th>
                        </tr>
                        </thead>
                        <!--Main Item-->
                        <tbody>
							{% if orders|length > 0 %}
								{% for order in orders %}
									<tr data-id="{{ order.ID }}" class="js-mainitem">
										<td class="bg-primary mainitem">
											<div class="name">{{ order.PONumber }}</div>
										</td>
										<td class="bg-primary" align="right">
											<a class="btn btn-success btn-restore"><em class="fa">Restore</em></a>
										</td>
									</tr>                                
								{% endfor %}
							{% else %}
								<tr>
									<td colspan="2">No Orders with inactive status</td>
								</tr>
							{% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
