{% extends "pageBase.html" %}
{% block title %}FPT Related Products{% endblock %}
{% block include %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<script src="Include/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="Include/sweetalert2/sweetalert2.min.css">

<script src="js/fptrelated.js"></script>
<link rel="stylesheet" href="Include/css/fptrelated.css">
{% endblock %}
{% block content %}
<script>
    user = '{{ username }}';
</script>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">FPT Related Products</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" class="btn btn-sm btn-danger btn-exclusions">Exclusions</button>
                            {% if editor %}
                            <button type="button" class="btn btn-sm btn-info btn-import">Import</button>
                            <button type="button" class="btn btn-sm btn-warning btn-export">Export</button>							
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list fptrelated" id="table">
                        <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="configure">
                                {% if editor %}
                                    <button type="button" id="btn-add"
                                            class="btn btn-sm btn-success btn-add">Add New
                                    </button>
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <!--Main Item-->
                        <tbody>
                            {% for product, rel in data %}
                                <tr data-id="{{ product }}" class="js-mainitem">
                                    <td class="bg-primary mainitem">
                                        <div class="name">{{ product }}</div>
                                    </td>
                                    <td class="bg-primary" align="right">
                                        {% if editor %}
                                            <a class="btn btn-success btn-add2"><em class="fa fa-plus"></em></a>
                                            <a class="btn btn-default btn-edit"><em class="fa fa-pencil"></em></a>                                        
                                            <a class="btn btn-danger btn-delete"><em class="fa fa-trash"></em></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% for related in rel %}
                                    <tr class="js-subitem" data-id="{{ product }}" style="display:none;">
                                        <td>
                                            <div class="name">{{ related }}</div>
                                        </td>
                                        <td align="right">
                                            {% if editor %}
                                                <a class="btn btn-default btn-edit"><em class="fa fa-pencil"></em></a>
                                                <a class="btn btn-danger btn-delete" data-confirm="Are you sure to delete this item?"><em class="fa fa-trash"></em></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
