{% extends "printLabelsBase.html" %}

{% block title %}DC Orders List{% endblock %}

{% block content %}
    <script>user_id = '{{ user_id }}'</script>    
    <script>
        function jsGo( obj, type ) {
            var inputClass = $(obj).attr('data-input');
            var inputValue = $( 'input.'+inputClass ).val();
            var url = '/shipping_module/hddc_print_labels.php?t='+type+'&po='+inputValue;
            var win = window.open(url, '_blank');
            win.focus();
        }
    </script>
    
    <div class="clearfix main-header">
        <div class="logo pull-left"><img src="../../../Include/img/logo.png"></div>
        <div class="product pull-right">
            <i>List of HDDC orders</i>
        </div>
    </div>
	<div class="wrap">
            <br/>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#hddc">HDDC Orders</a></li>
                <li><a data-toggle="tab" href="#amdc">AmazonDC Orders</a></li>                
            </ul>
            <div class="tab-content">
                <div id="hddc" class="tab-pane fade in active">
                    <h3>HDDC orders</h3>
                    <br/>
                    <h4>Enter PONumber:</h4><br/>
                    <input type="text" value="" class="js-hddc-go" placeholder="PONumber"> <input type="button" value="Go" data-input="js-hddc-go" onclick="jsGo(this, 1);"><br/>
                    <br/>
                    <br/>
                    <h4>Or select order from list:</h4><br/>
                    <table data-toggle='table' class='table table-bordered display product-table'>
                        <thead>
                            <tr class='info'>
                                <th>PONumber</th>
                                <th>RefNumber</th>
                                <th>Creation Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products1|length > 0 %}
                                {% for product in products1 %}
                                    <tr class="txn-line">
                                        <td><a target="_blank" href="hddc_print_labels.php?t=1&po={{ product.PONumber }}">{{ product.PONumber }}</a></td>
                                        <td>{{ product.RefNumber }}</td>
                                                                    <td>{{ product.TimeCreated }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="7">
                                        No HDDC orders in Shiptrack
                                    </td>
                                </tr>                
                            {% endif %}
                        </tbody>
                    </table>                  
                </div>
                <div id="amdc" class="tab-pane fade">
                    <h3>AmazonDC orders</h3>
                    <br/>
                    <h4>Enter PONumber:</h4><br/>
                    <input type="text" value="" class="js-amdc-go" placeholder="PONumber"> <input type="button" value="Go" data-input="js-amdc-go" onclick="jsGo(this, 2);"><br/>
                    <br/>
                    <br/>
                    <h4>Or select order from list:</h4><br/>                   
                    <table data-toggle='table' class='table table-bordered display product-table'>
                        <thead>
                            <tr class='info'>
                                <th>PONumber</th>
                                <th>RefNumber</th>
                                <th>Creation Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products2|length > 0 %}
                                {% for product in products2 %}
                                    <tr class="txn-line">
                                        <td><a target="_blank" href="hddc_print_labels.php?t=2&po={{ product.PONumber }}">{{ product.PONumber }}</a></td>
                                        <td>{{ product.RefNumber }}</td>
                                                                    <td>{{ product.TimeCreated }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="7">
                                        No AmazonDC orders in Shiptrack
                                    </td>
                                </tr>                
                            {% endif %}
                        </tbody>
                    </table>                     
                </div>
            </div>
    </div>
{% endblock %}