{% extends "pageBase.html" %}

{% block title %}Logistics Hub Login{% endblock %}

{% block include %}{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-screen">
        <form method="post" action="">
            <fieldset>                
                <p>
                    <span class="login-message">{{ errmessage }}</span><br /><br />
                    <label class="field" for="login">Login:</label>
                    <input class="logininput" type="text" name="login" value="{{ login }}" />
                </p>
                <p>
                    <label class="field" for="password">Password:</label>
                    <input class="logininput" type="password" name="password" value="" />
                </p>
                <p>
                    <input class="loginsubmit" type="submit" value="login" />
                </p>
            </fieldset>
        </form>
    </div>
    <div class="copyright">
        <p>Copyright © 2017 DreamLine</p>
    </div>
</div>
{% endblock %}