<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="js/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="Include/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Include/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="Include/css/style.css?r=1">
    <script src="Include/bootstrap/js/bootstrap.min.js"></script>
    {% block include %}{% endblock %}
</head>
<body class="dt-example">
    {% block content %}{% endblock %}
</body>