<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="Include/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Include/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="Include/css/style.css?r=1">
    <link rel="stylesheet" href="Include/css/print-products.css?r=1">
    <link rel="stylesheet" href="Include/css/fontello.css?r=1">
    <script src="js/jquery-1.10.2.js"></script>
    <script src="Include/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="Include/qz/js/dependencies/rsvp-3.1.0.min.js"></script>
    <script type="text/javascript" src="Include/qz/js/dependencies/sha-256.min.js"></script>
    <script type="text/javascript" src="Include/qz/js/qz-tray.js"></script>
    <script type="text/javascript" src="js/hddc.js"></script>
    <script type="text/javascript" src="js/print.js"></script>
</head>
<body class="dt-example">
    {% block content %}{% endblock %}
</body>