{% extends "printLabelsBase.html" %}

{% block title %}{{ dealer.Name }} Print Labels{% endblock %}

{% block content %}
    <script>
		user_id = {{ user_id }};
		dealer_id = {{ dealer.ID }};
	</script>
    <div class="clearfix main-header">
        <div class="logo pull-left"><img src="../../../Include/img/logo.png"></div>
        <div class="product pull-right">
            <i>{{ dealer.Name }} Print Labels. PO: {{ PONumber }}</i>
        </div>
    </div>
    <div class="top-btn-container">
        {% if dealer.isPallet %}<a href="../pallet_preload/index.php?t={{ dealer.ID }}&po={{ PONumber }}" target="_blank" class="btn btn-preload">Pallet Preload</a>{% endif %}
        <a onclick="generateAllDocuments('{{ PONumber }}', '{{ dealer.ID }}');" class="btn btn-generate" data-ponumber="{{ PONumber }}" id="genallbtn">Generate All Documents</a>
    </div>
    <br>
    <br>
    <div class="wrap">
        <table width="100%">
            <tr>
                <td width="60%" valign="top">
                    <h3>{% if dealer.isPallet %}Pallets{% else %}Documents{% endif %} in order</h3>
                    <table data-toggle='table' class='table center-aligned table-bordered display table-striped'>
                        <thead>
                            <tr class='info'>
                                <th>{% if dealer.isPallet %}Pallet Name{% else %}Order{% endif %}</th>
                                <th>Weight</th>
                                <th>Documents</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if pallets|length > 0 %}
                                {% for pallet in pallets %}
                                    <tr>
                                        <td>{% if dealer.isPallet %}{{ pallet.Pallet }}{% else %}{{ PONumber }}{% endif %}</td>
                                        <td>{{ pallet.Weight }}</td>
                                        <td>
                                            <div class="row printButtons">
                                                <div class="col-md-12 col-lg-7">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="btnLine">
                                                                <a class="btn-labels flyer-btn flyers-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open {{ pallet.Pallet }} flyers" target="_blank"><span class="icon-newspaper">Open</span></a>
                                                                <a class="btn-labels flyer-btn flyers-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print {{ pallet.Pallet }} flyers"><span class="icon-newspaper">Print</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="btnLine">
                                                                <a class="btn-labels barcodes-btn barcodes-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open {{ pallet.Pallet }} barcodes" target="_blank"><span class="icon-barcode">Open</span></a>
                                                                <a class="btn-labels barcodes-btn barcodes-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print {{ pallet.Pallet }} barcodes"><span class="icon-barcode">Print</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="btnLine">
                                                                <a class="btn-labels picking-btn picking-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open {{ pallet.Pallet }} picking list" target="_blank"><span class="icon-list">Open</span></a>
                                                                <a class="btn-labels picking-btn picking-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print {{ pallet.Pallet }} picking list"><span class="icon-list">Print</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-5">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="btnLine">
                                                                <a class="btn-labels packing-btn packing-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open {{ pallet.Pallet }} packing list" target="_blank"><span class="icon-list">Open</span></a>
                                                                <a class="btn-labels packing-btn packing-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print {{ pallet.Pallet }} packing list"><span class="icon-list">Print</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="btnLine">
                                                                <a class="btn-labels carton-btn carton-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open {{ pallet.Pallet }} carton packing" target="_blank"><span class="icon-list">Open</span></a>
                                                                <a class="btn-labels carton-btn carton-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print {{ pallet.Pallet }} carton packing"><span class="icon-list">Print</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3" class="no-pallet-truck">
                                        <a href="../pallet_preload/index.php?t={{ dealer.ID }}&po={{ PONumber }}" target="_blank">No Pallets in this order</a>
                                    </td>
                                </tr>                                
                            {% endif %}
                        </tbody>
                    </table>
                </td>
                <td width="2%">&nbsp;</td>
                <td width="38%" valign="top">
                    <h3>Trucks in order</h3>                    
                    <table data-toggle='table' class='table center-aligned table-bordered display'>
                        <thead>
                            <tr class='info'>
                                <th>Truck Name</th>
                                <th>Pallets</th>
                                <th>Documents</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if trucks|length > 0 and dealer.isPallet %}
                                {% for truck in trucks %}
                                    <tr>
                                        <td>{{ truck.Truck }}</td>
                                        <td>{{ truck.Pallets }}</td>
                                        <td>
                                            <a class="btn-labels bol-open truck-open disabled" data-btn-file="{{ truck.Truck }}" title="Open List" target="_blank">Open List</a>
                                            <a class="btn-labels bol-print truck-print disabled" data-btn-file="{{ truck.Truck }}" title="Print List">Print List</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3" class="no-pallet-truck">
                                        {% if dealer.isPallet %}
                                            <a href="../truck_preload/index.php?t={{ dealer.ID }}&po={{ PONumber }}" target="_blank">No Trucks in this order</a>
                                        {% else %}
                                            Trucks unavailable for this order
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}                            
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="wrap">
        <h3>Products in order</h3>
        <table data-toggle='table' class='table table-bordered display product-table'>
            <thead>
                <tr class='info'>
                    <th>TxnLineID</th>
                    <th>Group SKU</th>
                    <th>Product description</th>
                    <th>Quantity</th>
                    <th>Ship method</th>
                    <th>Inventory</th>
                    <th>Out of<br>stock</th>
                    {% if not dealer.isPallet %}<th>Docs</th>{% endif %}
                    <th>Done</th>
                </tr>
            </thead>
            <tbody>
                {% if products|length > 0 %}
                    {% for product in products %}
                        <tr class="txn-line clickable {% if product.Discontinued %}tr_disc{% endif %} {% if product.Preload < product.Quantity %}tr_disabled{% elseif product.Done %}tr_done{% endif %}" data-txn="{{ product.TxnLineID }}">
                            <td>{{ product.TxnLineID }}</td>
                            <td>{{ product.GroupSKU }}</td>
                            <td>{{ product.Prod_desc }}</td>
                            <td>
                                <div class="qty">
                                    {% if dealer.isPallet %}<b class="{% if product.Preload < product.Quantity %}not{% endif %}full">{{ product.Preload }}</b> / {% endif %}{{ product.Quantity }}
                                    {% if product.Pallet_Distribution and product.Pallet_Distribution|length > 0 and dealer.isPallet %}
                                        <div class="qty-tooltip">                                        
                                            <table class="table-bordered">
                                                <tr>
                                                    <th>Pallet name</th>
                                                    <th>Quantity</th>
                                                </tr>
                                                {% for key, value in product.Pallet_Distribution %}
                                                    <tr>
                                                        <td>{{ key }}</td>
                                                        <td>{{ value }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ product.SHIP_METHOD }}</td>
                            <td align="center">{% if product.Supply %}<i class="order-supply" title="Inventory check required!"></i>{% else %}<i class="order-supply-blank"></i>{% endif %}</td>
                            <td align="center">
                                <input class="disc-check" data-txn="{{ product.TxnLineID }}" type="checkbox" {% if product.Discontinued %}checked{% endif %}>
                            </td>
							
							{% if not dealer.isPallet %}
								<td class="printPalletCol">
									<span class="icon-list icon-list-btn" data-file="{{ product.GroupSKU }}"><!-- --></span>
									<div class="printButtonsPopup">
										<div class="btnLine">
											<a class="btn-labels flyer-btn flyers-open disabled" data-btn-file="{{ product.GroupSKU }}" title="Open {{ product.GroupSKU }} flyers" target="_blank"><span class="icon-newspaper">Open</span></a>
											<a class="btn-labels flyer-btn flyers-print disabled" data-btn-file="{{ product.GroupSKU }}" title="Print {{ product.GroupSKU }} flyers"><span class="icon-newspaper">Print</span></a>
										</div>
										<div class="btnLine">
											<a class="btn-labels barcodes-btn barcodes-open disabled" data-btn-file="{{ product.GroupSKU }}" title="Open {{ product.GroupSKU }} barcodes" target="_blank"><span class="icon-barcode">Open</span></a>
											<a class="btn-labels barcodes-btn barcodes-print disabled" data-btn-file="{{ product.GroupSKU }}" title="Print {{ product.GroupSKU }} barcodes"><span class="icon-barcode">Print</span></a>
										</div>
										<!--
										<div class="btnLine">
											<a class="btn-labels picking-btn picking-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open picking lists" target="_blank"><span class="icon-list">Open</span></a>
											<a class="btn-labels picking-btn picking-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print picking lists"><span class="icon-list">Print</span></a>
										</div>
										<div class="btnLine">
											<a class="btn-labels packing-btn packing-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open packing lists" target="_blank"><span class="icon-list">Open</span></a>
											<a class="btn-labels packing-btn packing-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print packing lists"><span class="icon-list">Print</span></a>
										</div>
										<div class="btnLine">
											<a class="btn-labels carton-btn carton-open disabled" data-btn-file="{{ pallet.Pallet }}" title="Open carton" target="_blank"><span class="icon-list">Open</span></a>
											<a class="btn-labels carton-btn carton-print disabled" data-btn-file="{{ pallet.Pallet }}" title="Print carton"><span class="icon-list">Print</span></a>
										</div>
										-->
										<div class="botBtn">
											<a onclick="generateSingleDocument('{{ PONumber }}', '{{ dealer.ID }}', '{{ product.GroupSKU }}');" class="btn btn-generate" data-ponumber="{{ PONumber }}" id="gensingle_{{ product.GroupSKU }}">Generate Documents</a>
										</div>
									</div>
								</td>
							{% endif %}
                            <td>
                                {% if product.Preload == product.Quantity %}
                                    <input class="done-check" data-txn="{{ product.TxnLineID }}" type="checkbox" {% if product.Done %}checked{% endif %}>
                                {% endif %}
                            </td>
                        </tr>
                        <tr class='sub-items'>
                            <td colspan='9'>
                                {% if items[product.TxnLineID] and items[product.TxnLineID]|length > 0 %}
                                <table width='100%' class='table table-bordered sub-items-table'>
                                    <tr>
                                        <th width='35%'>TxnLineID</th>
                                        <th width='55%'>Item Full Name</th>
                                        <th width='10%'>Quantity</th>
                                    <tr>
                                    {% for item in items[product.TxnLineID] %}
                                        <tr>
                                            <td>{{ item.TxnLineID }}</td>
                                            <td>{{ item.FullName }}</td>
                                            <td>{{ item.Quantity }}</td>
                                        <tr>
                                    {% endfor %}    
                                </table>
                                {% else %}
                                    <p>No Items for this Product</p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="7">
                            No Products in this order
                        </td>
                    </tr>                
                {% endif %}
            </tbody>
	</table>
    </div>
{% endblock %}